extends ../../layout/main.pug
include ../../components/features/features
include ../../components/pie-chart/pie-chart
include ../../components/comment/comment
include ../../components/bullet-list/bullet-list
include ../../components/total-card/total-card
include ../../components/typography/typography

block variables
  -
    const title = "Toxin - детали комнаты!";
    const description = "Room details description";
    const keywords = "Toxin keywords";
    const pageClass = "room-details";
    const footerBorderTop = true;

block content
  .room-details__picture 
    .room-details__picture-big
      img(src="img/room-details/room-details-1.jpg", alt="Детали комнаты")
    .room-details__picture-miniature
      img(src="img/room-details/room-details-2.jpg", alt="Детали комнаты")
      img(src="img/room-details/room-details-3.jpg", alt="Детали комнаты")
  .room-details__border
    .container
      .room-details__wrap
        .room-details__content
          .room-details__content-wrap
            .room-details__column
              section.room-details__intellig
                .room-details__title-wrap
                  +typography({ variant: "h2", text: "Сведения о номере" })
                +features({
                  items: [
                    {
                      title: "Комфорт",
                      descr: "Шумопоглощающие стены",
                      icon: "emoticon"
                    },
                    {
                      title: "Удобство",
                      descr: "Окно в каждой из спален",
                      icon: "city"
                    },
                    {
                      title: "Уют",
                      descr: "Номер оснащён камином",
                      icon: "whats"
                    }
                  ]
                })
              section.room-details__impression
                .room-details__title-wrap
                  +typography({ variant: "h2", text: "Впечатления от номера" })
                +pieChart()
            section.room-details__reviews
              div(class="room-details__title-wrap")
                +typography({ variant: "h2", text: "Отзывы посетителей номера" })
                span.room-details__title-alt 2 отзыва
              .room-details__review-wrap
                +comment({
                    authorName: "Мурад Сарафанов",
                    datePost: "5 дней назад",
                    likeCount: 12,
                    likeIsActived: true,
                    avatarSrc: "img/avatars/murad.jpg",
                    text:
                      "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."
                  })
              +comment({
                authorName: "Патрисия Стёклышкова",
                datePost: "Неделю назад",
                likeCount: 2,
                avatarSrc: "img/avatars/patric.jpg",
                text:
                  "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент"
              })
            .room-details__column
              .room-details__bullet-wrap
                div(class="room-details__title-wrap room-details__title-wrap_left-gap")
                  +typography({ variant: "h2", text: "Правила" })
                +bullet({
                  items: [
                    { text: "Нельзя с питомцами" },
                    { text: "Без вечеринок и мероприятий" },
                    { text: "Время прибытия — после 13:00, а выезд до 12:00" }
                  ]
                })
              section.room-details__info
                h2.room-details__title Отмена
                p Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
        .room-details__total-card-wrap
          +totalCard()