include ../logo/logo
include ../button/button
include ../main-menu/main-menu

-
  var menuItems = [
    { title: 'О нас', path: '#' }, 
    { 
      title: 'Услуги', 
      path: '#', 
      subMenu: [ 
        { title: 'Подбор отелей', path: '#' }, 
        { title: 'Заказать трансфер', path: '#' }, 
        { title: 'Рейтинг отелей', path: '#' } 
      ]
    }, 
    { title: 'Вакансии', path: '#' },
    { title: 'Новости', path: '#' },
    { 
      title: 'Соглашения', 
      path: '#',
      subMenu: [ 
        { title: 'Пользовательские', path: '#' }, 
        { title: 'Международные', path: '#' }
      ]
    }
  ]

mixin header( options = {} )
  - var authClass = options.userName ? "page-header__auth  page-header__auth--is-auth" : "page-header__auth"
  header.page-header
    .container
      .page-header__wrap
        +logo()
        +mainMenu(menuItems)
        section(class=authClass)
          if options.userName
            p.page-header__user-name= options.userName
          else
            .page-header__auth-buttons
              +button({ title: 'Войти', path: '#', isEmptyStyle: true })
              +button({ title: 'Зарегистрироваться', path: '#' })
            ul.page-header__auth-list
              li.page-header__auth-item
                a Войти
              li.page-header__auth-item
                a Зарегистрироваться
            button(id="authProfile" class="page-header__auth-profile" type="button")