.page-header {
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
}

.page-header__wrap {
  display: flex;
  padding: 15px 0 12px;
}

.page-header__auth {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 303px;
  margin-left: 31px;
}
