.auth-card {
  width: 380px;
  background: $mainColor;
  border-radius: 4px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);

  fieldset {
    width: 320px;
    margin-bottom: 20px;
    padding: 0;
    border: 0;
  }

  .input-group {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .button--icon {
    width: 100%;
    padding: 15px 20px;
    padding-top: 14px;
    font-weight: normal;
  }
}

.auth-card__wrap {
  padding: 30px;
  padding-top: 40px;
}

.auth-card__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.auth-card__account-enter {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
  font-family: 'Montserrat', 'Quicksand', 'Arial', sans-serif;

  .button {
    padding: 12px 18px;
  }
}

@media (max-width: 380px) {
  .auth-card {
    width: 100%;
    min-width: 320px;
  }

  .auth-card__wrap {
    .input-group__input {
      width: 100%;
    }
  }

  .auth-card fieldset {
    width: 100%;
  }
}
