.auth-card {
  width: 380px;
  background: $mainColor;
  border-radius: 4px;
  box-shadow: 0 0 25px rgba(0, 0, 0, .2);

  @media (max-width: 380px) {
    width: 100%;
    min-width: 320px;
  }

  &__wrap {
    padding: 30px;
    padding-top: 40px;
  }

  &__input-wrap {
    margin-bottom: 10px;
  }

  &__fieldset {
    margin-bottom: 20px;
    padding: 0;
    width: 320px;
    border: 0;

    @media (max-width: 380px) {
      width: 100%;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
  }

  &__account-enter {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Montserrat, Quicksand, Arial, sans-serif;
  }
}
