include ../input/input
include ../button/button

mixin authCard()
  .auth-card
    .auth-card__wrap
      form(action="/404.html")
        h2.auth-card__title Войти
        fieldset
          +input({ id: "Email2", placeholder: "Email",  type: "email", })
          +input({ id: "pass2", placeholder: "Пароль",  type: "password", })
        +button({ title: "Войти", isHaveIcon: true, buttonType: "submit" })
      .auth-card__account-enter
        p Нет аккаунта на Toxin?
        +button({ path: "/registration.html", title: "Создать",  isEmptyStyle: true })
