mixin pagination(options = {})
  .pagination
    .pagination__wrap
      if options.title
        p.pagination__title= options.title
      ul.pagination__pages
        li(class="pagination__page-item  pagination__page-item--active")
          a(href="/404.html") 1
        li.pagination__page-item
          a(href="/404.html") 2
        li.pagination__page-item
          a(href="/404.html") 3
        li.pagination__page-item
          a(href="/404.html") ...
        li.pagination__page-item
          a(href="/404.html") 15
        li(class="pagination__page-item  pagination__page-next")
          a(href="/404.html") Далее
      .pagination__overview
        p 1 – 12 из 100+ вариантов аренды

