@import '../../style/utils/variables.scss';
@import '../../components/header/header.scss';
@import '../../components/logo/logo.scss';
@import '../../components/button/button.scss';
@import '../../components/main-menu/main-menu.scss';
@import '../../components/input/input.scss';
@import '../../components/footer/footer.scss';
@import '../../components/nav-menu/nav-menu.scss';
@import '../../components/text-content/text-content.scss';
@import '../../components/social-buttons/social-buttons.scss';
@import '../../components/copyright/copyright.scss';

.not-found {
  background-image: url('./unicorn-r.svg'), url('./unicorn-l.svg');
  background-repeat: no-repeat;
  background-position: right center, left center;
  background-size: 28%;
}

.not-found__wrap {
  padding: 120px 0;
  text-align: center;
}

.not-found__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 82px;
}

.not-found__descr {
  margin: 0;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.not-found__status {
  margin: 0;
  margin-bottom: 20px;
  font-weight: bold;
}

.not-found__help-links {
  margin: 0;
  padding: 0;
  list-style: none;
}

.not-found__help-item {
  margin-bottom: 5px;
}

.not-found__link {
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: transparentize($contentColor, .5);
  transition: color .4s ease;

  &:hover {
    color: darken($accentColor, 10%);
  }
}
