@import 'utils/normolize';
@import 'utils/variables';
@import 'fonts';

body {
  color: $contentColor;
  font-size: 14px;
  font-family: $fontFamily;
}

.container {
  position: relative;
  flex: 0 0 auto;
  width: 100%;
  max-width: $desktopWidth;
  margin: 0 auto;
  padding: 0 10px;

  @media screen and (max-width: $smDesktopWidth) {
    max-width: $tableWidth;
  }

  @media screen and (max-width: $tableWidth) {
    max-width: $phoneWidth;
  }

  @media screen and (max-width: $phoneWidth) {
    max-width: $smPhoneWidth;
  }
}

@import '../components/header/header';
@import '../components/logo/logo';
@import '../components/main-menu/main-menu';
@import '../components/button/button';
@import '../components/text-content/text-content';
@import '../components/footer/footer';
