// font
$fontFamily: 'Quicksand', 'Montserrat', sans-serif;

// Size
$desktopWidth: 1160px;
$smDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

// Colors
$mainColor: #ffffff;
$accentColor: #bc9cff;
$accentSecond-color: #6fcf97;
$contentColor: #1f2041;
