.input-group {
  margin: 0;
  display: flex;

  &:hover,
  &:focus {
    .input-group__input {
      border-color: transparentize($contentColor, .25);

      &::placeholder {
        color: transparentize($contentColor, .25);
      }
    }

    .input-group__button-split {
      border-color: transparentize($contentColor, .25);
    }
  }

  &_with-label {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.input-group__label {
  margin: 0;
  margin-bottom: 5px;
}

.input-group__descr {
  margin: 0;
  padding-bottom: 4px;
  font-family: Montserrat, Quicksand, Arial, sans-serif;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: transparentize($contentColor, .55);
}

.input-group__label_big {
  font-family: Montserrat, Quicksand, Arial, sans-serif;
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}

.input-group__split {
  margin: 0;
  display: flex;
  width: 100%;
}

.input-group__input {
  padding: 9px 14px;
  box-sizing: border-box;
  width: 100%;
  font-family: Montserrat, Quicksand, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: transparentize($contentColor, .25);
  border: 1px solid transparentize($contentColor, .75);
  border-radius: 4px;
  outline: none;
  transition: border .4s ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:hover,
  &:focus {
    border-color: transparentize($contentColor, .25);

    + .input-group__button-split {
      border-color: transparentize($contentColor, .25);
    }
  }

  &_with-icon {
    background: url('../../components/input/expand-more.svg') no-repeat;
    background-position: 95% center;
  }

  &_double-button {
    position: relative;
    padding-right: 0;
    border-right: none;
    border-radius: 4px 0 0 4px;
  }

  &_fake {
    cursor: pointer;
  }

  &_active {
    border-color: transparentize($contentColor, .5);
  }

  &_hovered {
    border-color: transparentize($contentColor, .25);

    &::placeholder {
      color: transparentize($contentColor, .25);
    }
  }

  &::placeholder {
    font-family: Montserrat, Quicksand, Arial, sans-serif;
    font-size: 14px;
    color: transparentize($contentColor, .76);
    transition: color .4s ease;
  }
}

.input-group__input_dark-placeholder {
  &::placeholder {
    color: transparentize($contentColor, .25);
  }
}

.input-group__button-split {
  padding: 0;
  box-sizing: border-box;
  width: 44px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid transparentize($contentColor, .75);
  border-left: none;
  border-radius: 0 4px 4px 0;
  outline: none;
  transition: border .4s ease;
  cursor: pointer;

  &:focus {
    border: 1px solid #1f2041;
  }

  &_down-animation {
    &:active {
      /* stylelint-disable */
      img {
        /* stylelint-enable */
        transform: translateY(2px);
      }
    }
  }

  &_right-animation {
    &:active {
      /* stylelint-disable */
      img {
        /* stylelint-enable */
        transform: translateX(5px);
      }
    }
  }
  /* stylelint-disable */
  img {
    /* stylelint-enable */
    transition: transform .1s ease;
  }
}
