mixin colorPallete({ variant, title, descr })
  -
    let colorPalleteViewClass = "color-pallete__view";
    const variants = [
      "dark-shade-100",
      "dark-shade-75",
      "dark-shade-50",
      "dark-shade-25",
      "dark-shade-5",
      "purple",
      "green",
    ];

    if (variants.includes(variant)) {
      colorPalleteViewClass += ` color-pallete__view_${variant}`;
    }

  section.color-pallete
    .color-pallete__wrap
      div(class=colorPalleteViewClass)
      .color-pallete__content
        h2.color-pallete__title= title
        p.color-pallete__descr= descr