.nav-menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Montserrat, Quicksand, Arial, sans-serif;
}

.nav-menu__item {
  margin-bottom: 21px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: 768px) {
    margin-bottom: 10px;
  }

  .nav-menu__link {
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: transparentize($contentColor, .5);
    transition: color .4s ease;

    @media (max-width: 768px) {
      display: inline-block;
      width: 100%;
      vertical-align: top;
    }

    &:hover {
      color: darken($accentColor, 10%);
    }
  }
}
