.drop-with-expandable {
  width: 100%;

  &__title-wrap {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
  }

  &__title-alt {
    margin: 0;
    padding: 0;
    font-family: Montserrat, Quicksand, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    color: transparentize($contentColor, .5);
  }

  &__input {
    margin-bottom: 20px;

    &_bottom-gap {
      margin-bottom: 174px;
    }

    &_bottom-large-gap {
      margin-bottom: 220px;
    }
  }

  &__checkbox-list {
    margin-bottom: 32px;
  }
}
