@import '../../style/utils/variables.scss';
@import '../../components/checkbox/checkbox';
@import '../../components/radiobtn/radiobtn';
@import '../../components/toggle/toggle';
@import '../../components/likebtn/likebtn';
@import '../../components/ratebtn/ratebtn';
@import '../../components/range-slider/range-slider';
@import '../../components/title/title';
@import '../../components/input/input';
@import '../../components/button/button';
@import '../../components/pagination/pagination';
@import '../../components/features/features';
@import '../../components/bullet-list/bullet-list';
@import '../../components/comment/comment';
@import '../../components/drop-down/drop-down.scss';
@import '../../components/logo/logo';
@import '../../../node_modules/nouislider/distribute/nouislider.min.css';

.form-elements {
  .radiobtn__item {
    @media (max-width: 1060px) {
      margin-bottom: 15px;
    }

    &:last-child {
      @media (max-width: 1060px) {
        margin-bottom: 0;
      }
    }
  }
}

.form-elements__wrap {
  padding-top: 65px;
}

.form-elements__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &:first-child {
    margin-bottom: 100px;
  }

  &:nth-child(2) {
    margin-bottom: 40px;
  }
}

.form-elements__inputs {
  width: 27.6%;

  .input-group {
    margin-bottom: 20px;

    &:nth-child(3) {
      margin-bottom: 23px;
    }
  }
}

.form-elements__inputs-column {
  margin-top: 40px;
  margin-bottom: 21px;
  display: flex;

  .input-group:first-child {
    margin-right: 20px;
  }

  .input-group__button-split {
    width: 60px;
  }
}

.form-elements__inputs-small {
  width: 266px;

  .input-group {
    margin-bottom: 41px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.form-elements__controls {
  width: 22.9%;

  .checkbox {
    margin-bottom: 40.88px;
  }

  .radiobtn {
    margin-bottom: 42px;
  }

  .toggle {
    margin-bottom: 46px;
  }

  .likebtn {
    margin-bottom: 40px;
  }
}

.form-elements__user-button {
  width: 27.7%;

  .range {
    margin-bottom: 42px;
    width: 82.8%;
  }
}

.form-elements__buttons-wrap {
  margin-bottom: 30px;
  display: flex;
}

.form-elements__button-wrap {
  margin-right: 20px;
}

.form-elements__submit-btn {
  margin-bottom: 41px;
}

.form-elements__drop-down-expand {
  margin-right: 108px;
  width: 23%;

  .input-group {
    margin-bottom: 20px;

    &:nth-child(2) {
      margin-bottom: 0;
    }
  }

  .input-group__input_with-icon {
    background-position: 94% center;
  }

  .drop-down__wrap {
    padding-top: 5px;
    padding-bottom: 9px;
  }
}

.form-elements__drop-down-rich {
  width: 27.6%;

  .drop-down__wrap {
    padding-top: 5px;
    padding-bottom: 13px;
  }

  .drop-down__control {
    margin-top: 21px;
  }
}

.form-elements__drop-down-bullet {
  width: 27.7%;

  .drop-down__wrap {
    padding-top: 5px;
    padding-bottom: 13px;
  }

  .drop-down__control {
    margin-top: 21px;
  }
}

.form-elements__exp-checkbox-close {
  margin-top: 171px;
  margin-bottom: 47px;
}

.form-elements__bunny-hop {
  margin-top: 255px;

  .checkbox__item:first-child {
    width: 72%;
  }

  .bullet__item:nth-child(3) {
    padding-right: 67px;
  }
}

.form-elements__features {
  width: 24.2%;
}

.form-elements__comment {
  width: 61.3%;
}

.drop-down-container {
  position: relative;
}
