@import '../../style/utils/variables.scss';
@import '../../components/header/header.scss';
@import '../../components/button/button.scss';
@import '../../components/main-menu/main-menu.scss';
@import '../../components/input/input.scss';
@import '../../components/footer/footer.scss';
@import '../../components/nav-menu/nav-menu.scss';
@import '../../components/social-buttons/social-buttons.scss';
@import '../../components/copyright/copyright.scss';
@import '../../components/typography/typography.scss';

.not-found-page {
  &__wrap {
    padding: 120px 0;
    text-align: center;
  }

  &__title {
    margin: 0;
    margin-bottom: 40px;
    font-size: 82px;
  }

  &__description {
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 480px;
    font-size: 24px;
    font-weight: bold;
  }

  &__status {
    margin: 0;
    margin-bottom: 20px;
    font-weight: bold;
  }

  &__help-links {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__help-item {
    margin-bottom: 5px;
  }

  &__link {
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: transparentize($contentColor, .5);
    transition: color .4s ease;

    &:hover {
      color: darken($accentColor, 10%);
    }
  }
}

.not-found {
  background-image: url('./unicorn-r.svg'), url('./unicorn-l.svg');
  background-repeat: no-repeat;
  background-position: 90% center, 10% center;
  background-size: 28%;
  border-bottom: 1px solid rgba(31, 32, 65, .25);

  @media (max-width: 768px) and (min-width: 425px) {
    background-position: right bottom, left top;
  }

  @media (max-width: 425px) {
    background-position: center bottom, center top;
  }
}
