mixin button(options)
  -
    let buttonClass = "button";
    const { variant } = options;
    const variantModifiers = ["outlined", "text"];

    if (variantModifiers.includes(variant)) {
      buttonClass += ` button_variant_${variant}`;
    }

    const { size } = options;
    const sizeModifiers = ["large", "medium", "higher"];

    if (sizeModifiers.includes(size)) {
      buttonClass += ` button_size_${size}`;
    }

    const { isDisabled, withIcon, buttonType, title, path } = options;

    if (isDisabled) {
       buttonClass += " button_disabled";
    }

    if (withIcon) {
      buttonClass += " button_with-icon";
    }

    const typeButton = buttonType ? buttonType : "button";

  if path
    a(class=buttonClass href=path)= title
  else
    button(class=buttonClass type=typeButton disabled=isDisabled)= title