.button {
  position: relative;
  z-index: 0;
  padding: 10px 20px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  font-family: Montserrat, Quicksand, Arial, sans-serif;
  font-size: 12px;
  line-height: 15px;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
  color: $mainColor;
  background: linear-gradient(180deg, $accentColor 0%, $accentGradColor 100%);
  border: none;
  border-radius: 22px;
  cursor: pointer;

  &::before {
    position: absolute;
    z-index: -100;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    content: '';
    background: linear-gradient(darken($accentColor, 10%), darken($accentGradColor, 10%));
    border-radius: inherit;
    transition: opacity .4s ease;
  }

  &:hover {
    &::before {
      opacity: 1;
    }
  }

  &_disabled {
    opacity: .5;
    pointer-events: none;
    cursor: default;

    &:hover {
      &::before {
        display: none;
      }
    }
  }

  &_variant_outlined {
    padding: 8px 18px;
    color: $accentColor;
    background: $mainColor;
    border: 2px solid $accentColor;

    &::before {
      display: none;
    }

    &:hover {
      color: darken($accentColor, 10%);
      background: $mainColor;
      border-color: darken($accentColor, 10%);
    }
  }

  &_variant_text {
    padding: 0;
    color: $accentColor;
    background: none;

    &::before {
      display: none;
    }

    &:hover {
      color: darken($accentColor, 10%);
    }
  }

  &_with-icon {
    position: relative;
    padding: 14px 20px 15px;
    font-weight: normal;

    &::after {
      position: absolute;
      top: 0%;
      right: 0;
      width: 44px;
      height: 44px;
      content: '';
      background: url('../../components/button/arrow.svg') no-repeat;
      background-position: center center;
      transition: background .2s ease;
    }

    &:active {
      &::after {
        background-position: 20px center;
      }
    }
  }

  &_size_large {
    padding: 13px 24px;
  }

  &_size_medium {
    padding: 12px 18px;
  }

  &_size_higher {
    padding: 14px 20px;
  }
}
