mixin button(options)
  -
    let buttonClass = "button";
    const { variant } = options;

    if (variant === "outlined") {
      buttonClass += " button_variant_outlined";
    }

    if (variant === "text") {
      buttonClass += " button_variant_text";
    }

    const { size } = options;

    if (size === "large") {
      buttonClass += " button_size_large";
    }

    if (size === "medium") {
      buttonClass += " button_size_medium";
    }

    if (size === "higher") {
      buttonClass += " button_size_higher";
    }

    const { isDisabled, withIcon } = options;

    if (isDisabled) {
       buttonClass += " button_disabled";
    }

    if (withIcon) {
      buttonClass += " button_with-icon";
    }

    const buttonType = options.buttonType ? options.buttonType : "button";

  if options.path
    a(class=buttonClass href=options.path)= options.title
  else
    button(class=buttonClass type=buttonType disabled=options.isDisabled)= options.title