mixin button(options)
  -
    let buttonClass = "button";

    if (options.isEmptyStyle) {
      buttonClass += "  button_empty";
    }

    if (options.isHaveIcon) {
      buttonClass += "  button_with-icon";
    }

    if (options.isDisable) {
      buttonClass += "  button_disabled";
    }

    if (options.isLarger) {
      buttonClass += "  button_larger";
    }

    if (options.isLowLarger) {
      buttonClass += "  button_low-larger";
    }

    if (options.isAverage) {
      buttonClass += "  button_average";
    }

    if (options.isMoreLetterSpacing) {
      buttonClass += "  button_more-letter-spacing";
    }

    if (options.isZeroZIndex) {
      buttonClass += "  button_zero-z-index";
    }

    if (options.isDisable && options.isEmptyStyle) {
      buttonClass += "  button_empty  button_empty-disabled";
    }

    if (options.isOnlyText) {
      buttonClass += "  button_only-text";
    }

    if (options.isDisable && options.isOnlyText) {
      buttonClass += "  button_only-text  button_only-text-disabled";
    }

    const buttonType = options.buttonType ? options.buttonType : "button";

  if options.path
    a(class=buttonClass href=options.path)= options.title
  else
    button(class=buttonClass type=buttonType disabled=options.isDisable)= options.title