mixin button(options)
  -
    let buttonClass = "button";
    const { variant } = options;
    const variantModifiers = ["outlined", "text"];

    if (variantModifiers.includes(variant)) {
      buttonClass += ` button_variant_${variant}`;
    }

    const { size } = options;
    const sizeModifiers = ["large", "medium", "higher"];

    if (sizeModifiers.includes(size)) {
      buttonClass += ` button_size_${size}`;
    }

    const { isDisabled, withIcon } = options;

    if (isDisabled) {
       buttonClass += " button_disabled";
    }

    if (withIcon) {
      buttonClass += " button_with-icon";
    }

    const buttonType = options.buttonType ? options.buttonType : "button";

  if options.path
    a(class=buttonClass href=options.path)= options.title
  else
    button(class=buttonClass type=buttonType disabled=options.isDisabled)= options.title