mixin button(options)
  -
    let buttonClass = "button";

    if (options.isEmptyStyle) {
      buttonClass += "  button--empty-style";
    }

    if (options.isHaveIcon) {
      buttonClass += "  button--icon";
    }

    if (options.isDisable) {
      buttonClass += "  button--disable";
    }

    if (options.isDisable && options.isEmptyStyle) {
      buttonClass = "button  button--empty-style  button--empty-disable";
    }

    const buttonType = options.buttonType ? options.buttonType : "button";

  if options.path
    a(class=buttonClass href=options.path)= options.title
  else
    button(class=buttonClass type=buttonType disabled=options.isDisable)= options.title