.button {
  position: relative;
  z-index: 100;
  padding: 10px 20px;
  color: $mainColor;
  font-weight: normal;
  font-size: 12px;
  font-family: "Montserrat", "Quicksand", "Arial", sans-serif;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: none;
  background: linear-gradient(180deg, $accentColor 0%, $accentGradColor 100%);

  border: none;
  border-radius: 22px;
  cursor: pointer;

  &--disable {
    opacity: 0.5;
    cursor: default;

    &:hover {
      &::before {
        display: none;
      }
    }
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      darken($accentColor, 10%),
      darken($accentGradColor, 10%)
    );
    border-radius: inherit;
    opacity: 0;
    transition: opacity 0.4s ease;
    content: "";
  }

  &:hover {
    &::before {
      opacity: 1;
    }
  }

  &--empty-style {
    padding: 8px 18px;
    color: $accentColor;
    background: $mainColor;
    border: 2px solid $accentColor;

    &::before {
      display: none;
    }

    &:hover {
      color: darken($accentColor, 10%);
      border-color: darken($accentColor, 10%);
      background: $mainColor;
    }
  }

  &--empty-disable {
    opacity: 0.5;
    cursor: default;

    &:hover {
      color: $accentColor !important;
      background: $mainColor !important;
      border-color: $accentColor !important;
    }
  }
}

.button--icon {
  position: relative;

  &::after {
    position: absolute;
    top: 50%;
    right: 0;
    width: 44px;
    height: 44px;
    margin-top: -22px;
    background: url("../../components/button/arrow.svg") no-repeat;
    background-position: center center;
    transition: background 0.2s ease;
    content: "";
  }

  &:active {
    &::after {
      background-position: 20px center;
    }
  }
}
