.button {
  position: relative;
  z-index: 100;
  padding: 10px 20px;
  color: $mainColor;
  font-weight: bold;
  font-size: 12px;
  font-family: $fontFamily;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: none;
  background: linear-gradient(180deg, $accentColor 0%, $accentGradColor 100%);

  border: none;
  border-radius: 22px;
  cursor: pointer;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      darken($accentColor, 10%),
      darken($accentGradColor, 10%)
    );
    border-radius: inherit;
    opacity: 0;
    transition: opacity 0.4s ease;
    content: "";
  }

  &:hover {
    &::before {
      opacity: 1;
    }
  }

  &--empty-style {
    position: relative;
    z-index: 0;
    padding: 11px 21px;
    color: $accentColor;
    background: none;
    transition: color 0.4s ease;

    &::before {
      display: none;
    }

    .icon {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;

      path {
        transition: opacity 0.4s ease;

        &:first-of-type {
          opacity: 1;
          fill: transparent;
          stroke: url("#linearGradient-1");
          stroke-width: 7;
        }

        &.icon--plain {
          opacity: 0;
          stroke: url("#linearGradient-1");
          stroke-width: 7;
        }
      }
    }

    &:hover {
      color: $mainColor;

      .button__top-gradient {
        stop-color: darken($accentColor, 10%);
      }

      .button__bot-gradient {
        stop-color: darken($accentGradColor, 10%);
      }

      path {
        &:first-of-type {
          opacity: 0;
        }

        &.icon--plain {
          opacity: 1;
        }
      }
    }
  }
}

.button--icon {
  position: relative;

  &::after {
    position: absolute;
    top: 50%;
    right: 0;
    width: 44px;
    height: 44px;
    margin-top: -22px;
    background: url("../components/button/arrow_forward.svg") no-repeat;
    background-position: center center;
    transition: background 0.2s ease;
    content: "";
  }

  &:active {
    &::after {
      background-position: 20px center;
    }
  }
}

.button__top-gradient {
  stop-color: $accentColor;
}

.button__bot-gradient {
  stop-color: $accentColor;
}
