.pie-chart {
  position: relative;
}

.pie-chart__diagram {
  width: 120px;
  height: 120px;
}

.pie-chart__vote {
  position: absolute;
  top: 0;
  left: 0;
  width: 64px;
  text-align: center;
  color: $accentColor;
  text-transform: uppercase;

  b {
    font-size: 24px;
  }
}
