include ../logo/logo
include ../text-content/text-content

footer.page-footer
  .container
    .page-footer__wrap
      +logo()
      +textContent({text: 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»'})