.page-footer {
  position: relative;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);

  &::after {
    position: absolute;
    bottom: 70px;
    left: 50%;
    width: 1440px;
    height: 1px;
    margin-left: -720px;
    background: transparentize($contentColor, 0.9);
    content: '';
  }
}

.page-footer__content {
  display: flex;
  flex-wrap: wrap;
  padding: 100px 0;
}

.page-footer__side-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
}

.page-footer__col {
  padding-top: 4px;

  &:first-child {
    margin-right: 40px;
    padding-top: 2px;
  }

  &:nth-child(2) {
    margin-right: 57px;
  }

  &:nth-child(3) {
    margin-right: 92px;
  }

  &:last-child {
    margin-left: auto;
  }
}

.page-footer .text-content {
  width: 260px;
}

.page-footer .nav-menu__title {
  margin-bottom: 24px;
}

.page-footer .logo {
  margin-bottom: 18px;
}

.page-footer .input-group {
  margin-top: 20px;
}

.page-footer .input-group__input::placeholder {
  color: transparentize($contentColor, 0.55);
}
