.page-footer {
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
}

.page-footer__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 102px 0 100px;
}

.page-footer .text-content {
  width: 260px;
}

.page-footer .logo {
  margin-bottom: 18px;
}

.page-footer .input-group {
  margin-top: 20px;
}
