.page-footer {
  position: relative;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);

  &::after {
    position: absolute;
    bottom: 78px;
    width: 100%;
    height: 1px;
    background: transparentize($contentColor, 0.9);
    content: '';
  }
}

.page-footer__content {
  display: flex;
  padding: 101px 0 75px;
}

.page-footer__col-group {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding-top: 2px;
}

.page-footer__side-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 29px 0;
}

.page-footer .text-content {
  width: 260px;
}

.page-footer .text-content__title {
  margin-bottom: 17px;
}

.page-footer .nav-menu__title {
  margin-bottom: 22px;
}

.page-footer .nav-menu__item {
  margin-bottom: 21px;
}

.page-footer .logo {
  margin-bottom: 16px;
}

.page-footer .input-group {
  margin-top: 23px;
}

.page-footer .input-group__input--button-split {
  width: 216px;
}

.page-footer .input-group__input::placeholder {
  color: transparentize($contentColor, 0.55);
}

.page-footer__col--large:first-child {
  margin-right: 3.5%;
}

@media (width: 1440px) {
  .page-footer__col {
    &:nth-child(2) {
      margin-right: 93px;
    }

    &:last-child {
      margin-left: auto;
    }
  }

  .page-footer__col-group {
    .page-footer__col:first-child {
      margin-right: 57px;
    }
  }
}
