@import '../../style/utils/variables.scss';
@import '../../components/header/header.scss';
@import '../../components/logo/logo.scss';
@import '../../components/button/button.scss';
@import '../../components/main-menu/main-menu.scss';
@import '../../components/auth-card/auth-card.scss';
@import '../../components/input/input.scss';
@import '../../components/footer/footer.scss';
@import '../../components/nav-menu/nav-menu.scss';
@import '../../components/text-content/text-content.scss';
@import '../../components/social-buttons/social-buttons.scss';
@import '../../components/copyright/copyright.scss';

.auth-page {
  main {
    background: url('room-interior.jpg') no-repeat;
    background-position: center -70px;
  }
}

.auth-page__wrap {
  display: flex;
  justify-content: center;
  padding: 163px 0 165px;
}
