extends ../../layout/main.pug
include ../../components/auth-card/auth-card

block variables
  -
    const title = "Toxin - авторизация!";
    const description = "Toxin authorization";
    const keywords = "Toxin keywords";
    const pageClass = "auth-page";
  
block content
  .container
    .auth-page__wrap
      +authCard()