extends ../../layout/main.pug
include ../../components/register-card/register-card

block variables
  -
    const title = "Toxin - регистрация!";
    const description = "Toxin registration";
    const pageClass = "registration-page";

block content
  .container
    .registration-page__wrap
      +registerCard()