.text-content__title {
  margin: 0;
  margin-bottom: 20px;
  font-family: Montserrat, Quicksand, Arial, sans-serif;
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.text-content__paragraph {
  margin: 0;
  font-family: Montserrat, Quicksand, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: transparentize($contentColor, .25);
}
