extends ../../layout/main.pug
include ../../components/input/input
include ../../components/range-slider/range-slider
include ../../components/checkbox/checkbox
include ../../components/hotel-card/hotel-card
include ../../components/pagination/pagination

block variables
  -
    const title = "Toxin - подбери свой отель!"
    const description = "Toxin description"
    const pageClass = "rooms-page"
    const footerBorderTop = true

  -
    const hotels = [
        {
          numberHotel: 888,
          isLux: true,
          reviewCount: 145,
          dayCost: "9 900",
          starCount: 5,
          idRateBtn: "luxHotelRate",
          images: [
            { src: "../../components/hotel-card/one-hotel.png", alt: "Красивый отель" }
          ]
        },
        {
          numberHotel: 840,
          isBtnSliderHide: true,
          reviewCount: 65,
          dayCost: "9 900",
          starCount: 4,
          idRateBtn: "luxHotelRate1",
          images: [
            { src: "../../components/hotel-card/double-hotel.png", alt: "Красивый отель" }
          ]
        },
        {
          numberHotel: 980,
          isBtnSliderHide: true,
          isLux: true,
          reviewCount: 35,
          dayCost: "8 500",
          starCount: 3,
          idRateBtn: "luxHotelRate2",
          images: [
            { src: "../../components/hotel-card/hotel-3.png", alt: "Красивый отель" }
          ]
        },
        {
          numberHotel: 856,
          isBtnSliderHide: true,
          reviewCount: 19,
          dayCost: "7 300",
          starCount: 5,
          idRateBtn: "luxHotelRate3",
          images: [
            { src: "../../components/hotel-card/hotel-4.png", alt: "Красивый отель" }
          ]
        },
        {
          numberHotel: 740,
          isBtnSliderHide: true,
          reviewCount: 44,
          dayCost: "6 000",
          starCount: 4,
          idRateBtn: "luxHotelRate4",
          images: [
            { src: "../../components/hotel-card/hotel-5.png", alt: "Красивый отель" }
          ]
        },
        {
          numberHotel: 982,
          isBtnSliderHide: true,
          reviewCount: 56,
          dayCost: "5 800",
          starCount: 3,
          idRateBtn: "luxHotelRate5",
          images: [
            { src: "../../components/hotel-card/hotel-6.png", alt: "Красивый отель" }
          ]
        },
        {
          numberHotel: 678,
          isBtnSliderHide: true,
          dayCost: "5 500",
          starCount: 5,
          reviewCount: 45,
          idRateBtn: "luxHotelRate6",
          images: [
            { src: "../../components/hotel-card/hotel-7.png", alt: "Красивый отель" }
          ]
        },
        {
          numberHotel: 450,
          isBtnSliderHide: true,
          dayCost: "5 300",
          starCount: 4,
          reviewCount: 39,
          idRateBtn: "luxHotelRate7",
          images: [
            { src: "../../components/hotel-card/hotel-8.png", alt: "Красивый отель" }
          ]
        },
        {
          numberHotel: 350,
          isBtnSliderHide: true,
          dayCost: "5 000",
          starCount: 3,
          reviewCount: 77,
          idRateBtn: "luxHotelRate8",
          images: [
            { src: "../../components/hotel-card/hotel-9.png", alt: "Красивый отель" }
          ]
        },
        {
          numberHotel: 666,
          isBtnSliderHide: true,
          dayCost: "5 000",
          starCount: 5,
          reviewCount: 25,
          idRateBtn: "luxHotelRate9",
          images: [
            { src: "../../components/hotel-card/hotel-10.png", alt: "Красивый отель" }
          ]
        },
        {
          numberHotel: 444,
          isBtnSliderHide: true,
          dayCost: "5 000",
          starCount: 3,
          reviewCount: 15,
          idRateBtn: "luxHotelRate10",
          images: [
            { src: "../../components/hotel-card/hotel-11.png", alt: "Красивый отель" }
          ]
        },
        {
          numberHotel: 352,
          isBtnSliderHide: true,
          dayCost: "5 000",
          starCount: 3,
          reviewCount: 55,
          idRateBtn: "luxHotelRate11",
          images: [
            { src: "../../components/hotel-card/hotel-12.png", alt: "Красивый отель" }
          ]
        }
      ]
  
block content
  .container
    .rooms-page__wrap
      .filter
        .filter__wrap
          div(class="filter__item  filter__item--mbs")
            +input({
              id: "number-guests-input",
              isFakeInput: true,
              labelName: "Даты пребывания в отеле",
              isButtonSplit: true,
              isDownSplitAnimation: true,
              isHaveIcon: true,
              placeholder: "19 авг - 23 авг",
              isBigLabel: true
            })
          .filter__item
            +input({
              id: "number-guest",
              isFakeInput: true,
              labelName: "Гости",
              isButtonSplit: true,
              isDownSplitAnimation: true,
              isHaveIcon: true,
              placeholder: "3 гостя, 1 младенец",
              isBigLabel: true
            })
          .filter__item
            +rangeSlider({ title: "Диапазон цены", min: '5 000', max: '10 000' })
            p.filter__explan Стоимость за сутки пребывания в номере
          .filter__item
            +checkbox({
                  title: "Checkbox Buttons",
                  items: [
                    { id: "smoke", title: "Можно курить" },
                    { id: "pets", title: "Можно с питомцами", isChecked: true },
                    { id: "guest", title: "Можно пригласить гостей (до 10 человек)", isChecked: true }
                  ]
                })
          .filter__item
            +checkbox({
                  title: "Доступность",
                  isRich: true,
                  items: [
                    { id: "wild", title: "Широкий коридор", descr: "Ширина коридоров в номере не менее 91 см." },
                    { id: "help", title: "Помощник для инвалидов", descr: "На 1 этаже вас встретит специалист  и проводит до номера." },
                  ]
                })
          .filter__item
            +input({
              id: "number-bed",
              isFakeInput: true,
              labelName: "Удобства номера",
              isButtonSplit: true,
              isDownSplitAnimation: true,
              isHaveIcon: true,
              placeholder: "2 спальни, 2 кровати...",
              isBigLabel: true
            })
            div(class="drop-down-container" id="drop-down-container")
          .filter__item
            +checkbox({
              title: "Дополнительные удобства",
              idExpandableList: "checkbox-expandable-list",
              idExpandableBtn: "checkbox-expandable-btn",
              isExpandable: true,
              isExpandableOpen: true,
              items: [
                { id: "breakfast", title: "Завтрак" },
                { id: "pen", title: "Письменный стол", isChecked: true },
                { id: "break-sit", title: "Стул для кормления", isChecked: true },
                { id: "bed", title: "Кроватка", isChecked: true },
                { id: "tv", title: "Телевизор" },
                { id: "shampu", title: "Шампунь" },
                { id: "tv2", title: "Телевизор" },
                { id: "shampu2", title: "Шампунь" },
              ]
            })
      section.hotels
        .hotels__wrap
          h2.hotels__title Номера, которые мы для вас подобрали
          ul.hotels__list
            each item in hotels
              li.hotels__item
                +hotelCard(item)
          +pagination()