@import "../../style/utils/variables.scss";
@import "../../components/header/header.scss";
@import "../../components/logo/logo.scss";
@import "../../components/button/button.scss";
@import "../../components/main-menu/main-menu.scss";
@import "../../components/date-wishes/date-wishes.scss";
@import "../../components/drop-down/drop-down.scss";
@import "../../components/input/input.scss";
@import "../../components/hotel-card/hotel-card.scss";
@import "../../components/range-slider/range-slider.scss";
@import "../../components/checkbox/checkbox.scss";
@import "../../components/ratebtn/ratebtn.scss";
@import "../../components/pagination/pagination.scss";
@import "../../components/footer/footer.scss";
@import "../../components/nav-menu/nav-menu.scss";
@import "../../components/text-content/text-content.scss";
@import "../../components/social-buttons/social-buttons.scss";
@import "../../components/copyright/copyright.scss";
@import "../../../node_modules/nouislider/distribute/nouislider.min.css";

.rooms-page {
  .pagination {
    text-align: center;
  }
}

.rooms-page__wrap {
  display: flex;
  padding: 30px 0px 71px;
}

.filter {
  margin-right: 60px;
}

.filter__wrap {
  width: 266px;
}

.filter__item {
  margin-bottom: 30px;

  &--mbs {
    margin-bottom: 20px;
  }
}

.filter__explan {
  margin: 0;
  margin-top: 26px;
  color: transparentize($contentColor, 0.5);
  font-size: 12px;
  line-height: 14px;
}

.hotels__title {
  margin: 0;
  margin-bottom: 21px;
  font-size: 23px;
  font-weight: bold;
  line-height: 30px;
}

.hotels__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  list-style: none;
}

.hotels__item {
  margin-bottom: 21px;
}

@media (max-width: 425px) {
  .rooms-page__wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 595px) {
  .hotels__list {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .rooms-page__wrap {
    flex-direction: column;
    align-items: center;
  }

  .filter {
    width: 266px;
    margin-right: 0;
  }

  .filter__wrap {
    width: 100%;
  }
}
