include ../checkbox/checkbox
include ../typography/typography

mixin expandableCheckbox({ summary, items, isOpened })
  details(class="expandable-checkbox" open= isOpened)
    summary.expandable-checkbox__summary= summary
    +checkbox({ items })
