include ../input/input
include ../button/button

mixin totalCard(options = {})
  -
    const arrivalInputPlaceholder = options.arrivalInputPlaceholder
      ? options.arrivalInputPlaceholder
      : "ДД.ММ.ГГГГ";
    const departureInputPlaceholder = options.departureInputPlaceholder
      ? options.departureInputPlaceholder
      : "ДД.ММ.ГГГГ";
    let datePickerContainerCLass = "date-picker-container";

    if (options.datePickerContainerCLass) {
      datePickerContainerCLass += `  ${options.datePickerContainerCLass}`;
    }

  section.total-card
    .total-card__wrap
      form(action="/404.html")
        .total-card__head
          h2.total-card__title № #[span 888] #[b люкс]
          p.total-card__per-day #[b 9 990₽] в сутки
        .total-card__date-inputs
          .total-card__date-input-wrap
            +input({
              id: "arrival-total-input",
              splitId: "arrival-total-split-btn",
              labelName: "Прибытие",
              isBigLabel: true,
              isWiderLabel: true,
              isButtonSplit: true,
              isDownSplitAnimation: true,
              iconSrc: "expand-more.svg",
              placeholder: arrivalInputPlaceholder,
              isDarkPlaceholder: true
            })
          .total-card__date-input-wrap  
            +input({
              id: "departure-total-input",
              splitId: "departure-total-split-btn",
              labelName: "Выезд",
              isBigLabel: true,
              isWiderLabel: true,
              isButtonSplit: true,
              isDownSplitAnimation: true,
              iconSrc: "expand-more.svg",
              placeholder: departureInputPlaceholder,
              isDarkPlaceholder: true
            })
          div(id="date-picker-total-container" class=datePickerContainerCLass)
        +input({
          id: "number-total-guests-input",
          classForJs: "js-input-drop-down-total",
          isFakeInput: true,
          labelName: "Гости",
          isBigLabel: true,
          isButtonSplit: true,
          isDownSplitAnimation: true,
          isHaveIcon: true,
          placeholder: "3 гостя"
        })
        div(class="drop-down-container  js-drop-down-total-container")
        .total-card__calc
          .total-card__calc-row
            p.total-card__calc-text 9 990₽ х 4 суток
            p(class="total-card__calc-text  total-card__calc-text_informational") Сбор за услуги: скидка 2 179₽
            p(class="total-card__calc-text  total-card__calc-text_informational") Сбор за дополнительные услуги
          div(class="total-card__calc-row  total-card__calc-row_low   total-card__calc-row_tar")
            p.total-card__calc-text 39 960₽
            p.total-card__calc-text 0₽
            p.total-card__calc-text 300₽
        .total-card__total
          p.total-card__total-text Итого
          .total-card__total-separator
          p.total-card__total-price 38 081₽
        +button({ title: "Забронировать", isHaveIcon: true, buttonType: "submit" })