.total-card {
  width: 380px;
  background: $mainColor;
  border-radius: 4px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

.total-card__wrap {
  padding: 30px;
  padding-top: 40px;
}

.total-card__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.total-card__title {
  margin: 0;
  font-size: 13px;

  b {
    font-size: 12px;
    color: $accentColor;
    text-transform: uppercase;
  }

  span {
    font-size: 25px;
    font-weight: bold;
  }
}

.total-card__per-day {
  margin: 0;
  padding-top: 5px;
  font-size: 12px;
  color: transparentize($contentColor, 0.5);

  b {
    font-family: Montserrat;
    font-size: 14px;
  }
}

.total-card__date-inputs {
  display: flex;
  justify-content: space-between;

  .input-group__label {
    margin-bottom: 6px;
  }

  .input-group__input {
    &--button-split {
      width: 106px;
    }
  }
}
