.total-card {
  width: 380px;
  background: $mainColor;
  border-radius: 4px;
  box-shadow: 0 0 25px rgba(0, 0, 0, .2);

  @media (max-width: 380px) {
    margin: 0 auto;
    width: 100%;
    min-width: 320px;
  }
}

.total-card__wrap {
  position: relative;
  padding: 30px;
  padding-top: 40px;

  .total-card__date-inputs {
    @media (max-width: 380px) {
      flex-direction: column;
    }
  }
}

.total-card__date-input-wrap {
  width: 150px;

  @media (max-width: 380px) {
    margin-bottom: 15px;
    width: 100%;
  }
}

.total-card__head {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.total-card__title {
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* stylelint-disable */
  b {
    font-size: 12px;
    text-transform: uppercase;
    color: $accentColor;
  }

  span {
    font-size: 25px;
    font-weight: bold;
  }
  /* stylelint-enable */
}

.total-card__per-day {
  margin: 0;
  padding-top: 5px;
  font-size: 12px;
  color: transparentize($contentColor, .5);
  /* stylelint-disable */
  b {
    font-family: Montserrat, Quicksand, Arial, sans-serif;
    font-size: 14px;
  }
  /* stylelint-enable */
}

.total-card__date-inputs {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.total-card__calc {
  margin-top: 20px;
  margin-bottom: 28px;
  display: flex;
  justify-content: space-between;
}

.total-card__calc-row {
  width: 75%;

  &_low {
    width: 25%;
  }

  &_tar {
    text-align: right;
  }
}

.total-card__calc-text {
  margin: 0;
  margin-bottom: 15px;
  font-family: Montserrat, Quicksand, Arial, sans-serif;
  font-size: 14px;
  line-height: 19px;

  &:last-child {
    margin-bottom: 0;
  }
}

.total-card__calc-text__informational {
  position: relative;
  padding-right: 20px;

  &::after {
    position: absolute;
    top: -1px;
    right: 1px;
    width: 18px;
    height: 18px;
    font-family: Montserrat, Quicksand, Arial, sans-serif;
    font-size: 12px;
    line-height: 19px;
    font-weight: bold;
    text-align: center;
    content: 'i';
    color: transparentize($contentColor, .75);
    border: 1px solid transparentize($contentColor, .75);
    border-radius: 50%;
    cursor: pointer;
  }
}

.total-card__total {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.total-card__total-separator {
  position: relative;
  flex-grow: .95;

  &::after {
    position: absolute;
    top: -6px;
    width: 100%;
    content: '';
    border: 1px dashed transparentize($contentColor, .75);
  }
}

.total-card__total-text,
.total-card__total-price {
  margin: 0;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
}

.total-card__total-price {
  text-align: right;
}
