.total-card {
  width: 380px;
  background: $mainColor;
  border-radius: 4px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);

  @media (max-width: 380px) {
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
  }

  .button {
    width: 100%;
    padding: 15px 20px;
  }
}

.total-card__wrap {
  position: relative;
  padding: 30px;
  padding-top: 40px;

  .total-card__date-inputs {
    @media (max-width: 380px) {
      flex-direction: column;
    }
  }

  .total-card__date-inputs .input-group {
    @media (max-width: 380px) {
      margin-bottom: 15px;
    }
  }

  .total-card__date-inputs .input-group__input--button-split {
    @media (max-width: 380px) {
      width: 100%;
    }
  }
}

.total-card__head {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.total-card__title {
  margin: 0;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  b {
    font-size: 12px;
    color: $accentColor;
    text-transform: uppercase;
  }

  span {
    font-size: 25px;
    font-weight: bold;
  }
}

.total-card__per-day {
  margin: 0;
  padding-top: 5px;
  font-size: 12px;
  color: transparentize($contentColor, 0.5);

  b {
    font-family: Montserrat, Quicksand, Arial, sans-serif;
    font-size: 14px;
  }
}

.total-card__date-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  .input-group__label {
    margin-bottom: 6px;
  }

  .input-group__input {
    &--button-split {
      width: 106px;
    }
  }
}

.total-card__calc {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 28px;
}

.total-card__calc-row {
  width: 75%;

  &--low {
    width: 25%;
  }

  &--tar {
    text-align: right;
  }
}

.total-card__calc-text {
  margin: 0;
  margin-bottom: 15px;
  font-family: Montserrat, Quicksand, Arial, sans-serif;
  font-size: 14px;
  line-height: 19px;

  &:last-child {
    margin-bottom: 0;
  }
}

.total-card__calc-text--info {
  position: relative;
  padding-right: 20px;

  &::after {
    position: absolute;
    top: -1px;
    right: 1px;
    width: 18px;
    height: 18px;
    color: transparentize($contentColor, 0.75);
    font-family: Montserrat, Quicksand, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 19px;
    text-align: center;
    content: 'i';
    border: 1px solid transparentize($contentColor, 0.75);
    border-radius: 50%;
    cursor: pointer;
  }
}

.total-card__total {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}

.total-card__total-separator {
  position: relative;
  flex-grow: 0.95;

  &:after {
    position: absolute;
    top: -6px;
    width: 100%;
    content: '';
    border: 1px dashed transparentize($contentColor, 0.75);
  }
}

.total-card__total-text,
.total-card__total-price {
  margin: 0;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
}

.total-card__total-price {
  text-align: right;
}
