mixin rangeSlider(options = {})
  .range
    .range__view
      h2.range__title= options.title
      .range__price
        p(id="lower-value" class="range__cost")
        p(id="upper-value" class="range__cost")
    div(id="range-slider" class="range__slider")