include ../typography/typography

mixin rangeSlider({ title })
  .range-slider
    .range-slider__view
      +typography({ text: title, variant: "h3", hasUpper: true })
      .range-slider__price
        p(class="range-slider__cost js-range-slider-lower-value")
        p(class="range-slider__cost js-range-slider-upper-value")
    div(class="range-slider__slider js-range-slider")
