$accentSecondColor: #6fcf97;
$accentSecondGradColor: #66d2ea;

.range__view {
  margin-bottom: 22px;
  display: flex;
  justify-content: space-between;
}

.range__slider {
  height: 6px;
  background-color: $mainColor;
  border: 1px solid transparentize($contentColor, .75);
  border-radius: 3px;

  .noUi-connect {
    height: 6px;
    background: linear-gradient(180deg, $accentSecondColor 0%, $accentSecondGradColor 100%);
  }

  .noUi-handle {
    width: 14px;
    height: 14px;
    background: linear-gradient(180deg, $accentSecondColor 0%, $accentSecondGradColor 100%);
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: none;
    transition: background .4s ease 0s, border .4s ease 0s;
    cursor: pointer;

    &::after,
    &::before {
      display: none;
    }
  }

  .noUi-handle-upper,
  .noUi-handle-lower {
    right: -8px;
  }
}

.range__cost {
  margin: 0;
  margin-right: 8px;
  display: inline-block;
  font-family: Montserrat, Quicksand, Arial, sans-serif;
  font-size: 12px;
  line-height: 15px;
  font-weight: normal;
  font-style: normal;
  vertical-align: middle;
  text-transform: uppercase;
  color: transparentize($contentColor, .55);

  &:first-child {
    position: relative;

    &::after {
      position: absolute;
      top: 0;
      right: -7.5px;
      font-size: 10px;
      content: '-';
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.range__title {
  margin: 0;
  font-family: Montserrat, Quicksand, Arial, sans-serif;
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}
