$accentSecondColor: #6fcf97;
$accentSecondGradColor: #66d2ea;

.range__view {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}

.range__price {
  input {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 50px;
    margin: 0;
    margin-right: 2px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    color: transparentize($contentColor, 0.55);
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    vertical-align: top;
    border: none;
    background: transparent;

    &:last-child {
      margin-right: 0;
      margin-left: 2px;
    }
  }
}

.range__slider {
  height: 6px;
  border-radius: 3px;
  border: 1px solid transparentize($contentColor, 0.75);
  background-color: $mainColor;

  .noUi-connect {
    height: 6px;
    background: linear-gradient(
      180deg,
      $accentSecondColor 0%,
      $accentSecondGradColor 100%
    );
  }

  .noUi-handle {
    width: 14px;
    height: 14px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    background: linear-gradient(
      180deg,
      $accentSecondColor 0%,
      $accentSecondGradColor 100%
    );
    cursor: pointer;
    transition: background 0.4s ease 0s, border 0.4s ease 0s;

    &::after,
    &::before {
      display: none;
    }
  }

  .noUi-handle-upper,
  .noUi-handle-lower {
    right: -8px;
  }
}

.range__cost {
  display: inline-block;
  margin: 0;
  margin-right: 8px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  color: transparentize($contentColor, 0.55);
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  vertical-align: middle;

  &:first-child {
    position: relative;
    &::after {
      position: absolute;
      top: 0;
      right: -7.5px;
      content: "-";
      font-size: 10px;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.range__title {
  margin: 0;
  font-size: 12px;
  line-height: 15px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
}
