mixin rangeSlider(options = {})
  .range
    .range__head
      p.range__title= options.title
      .range__head-range
        p(class="range_value  range_value--min")= options.min + "₽" 
        span -
        p(class="range_value  range_value--max")= options.max + "₽" 
    .range__wrap
      .range__bar
        div(class="range__scale" style="width: 27%;")
      div(class="range__toggle  range__toggle--min")
      div(class="range__toggle  range__toggle--max")