@import '../../style/utils/variables.scss';
@import './sections/inputs/inputs.scss';
@import './sections/controls/controls.scss';
@import './sections/buttons/buttons.scss';
@import './sections/drop-with-expandable/drop-with-expandable.scss';
@import './sections/drop-with-rich/drop-with-rich.scss';
@import './sections/drop-with-bullet/drop-with-bullet.scss';
@import '../../components/input/input.scss';
@import '../../components/typography/typography.scss';
@import '../../components/drop-down-input/drop-down-input.scss';
@import '../../components/drop-down-counter/drop-down-counter.scss';
@import '../../components/checkbox-list/checkbox-list.scss';
@import '../../components/radio-btn/radio-btn.scss';
@import '../../components/toggle/toggle.scss';
@import '../../components/like-btn/like-btn.scss';
@import '../../components/rate-btn/rate-btn.scss';
@import '../../components/range-slider/range-slider.scss';
@import '../../components/button/button.scss';
@import '../../components/pagination/pagination.scss';
@import '../../components/expandable-checkbox/expandable-checkbox.scss';
@import '../../components/bulleted-list/bulleted-list.scss';
@import '../../components/features/features.scss';
@import '../../components/comment/comment.scss';

.form-elements {
  &__wrap {
    padding-top: 62px;
    padding-bottom: 100px;
  }

  &__row {
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__inputs {
    width: 27.6%;
  }

  &__controls {
    width: 22.9%;
  }

  &__buttons {
    width: 27.7%;
  }

  &__row-wrap {
    width: 23%;

    &_size_large {
      width: 61.3%;
    }
  }
}
