extends ../../layout/ui-kit.pug
include ../../components/input/input
include ../../components/typography/typography
include ../../components/drop-down/drop-down
include ../../components/checkbox/checkbox
include ../../components/radiobtn/radiobtn
include ../../components/toggle/toggle
include ../../components/likebtn/likebtn
include ../../components/ratebtn/ratebtn
include ../../components/range-slider/range-slider
include ../../components/button/button
include ../../components/pagination/pagination
include ../../components/expandable-checkbox/expandable-checkbox
include ../../components/bullet-list/bullet-list
include ../../components/features/features
include ../../components/comment/comment

block variables
  -
    const title = "Toxin - элементы форм";
    const description = "Toxin description";
    const keywords = "Toxin keywords";
    const pageClass = "form-elements";

block content
  .container
    .form-elements__wrap
      .form-elements__row
        .form-elements__inputs
          .form-elements__input
            .form-elements__title-wrap
              +typography({ text: "Text Field", variant: "h3", hasUpper: true })
              p.form-elements__title-alt Default
            +input({ type: "text", name: "email", placeholder: "Email" })
          .form-elements__input
            .form-elements__title-wrap
              +typography({ text: "Text Field", variant: "h3", hasUpper: true })
              p.form-elements__title-alt Hover / Focus
            +input({
              type: "text",
              name: "text",
              placeholder: "placeholder",
              value: "This is pretty awesome",
              isFocused: true,
            })
          .form-elements__input
            .form-elements__title-wrap
              +typography({ text: "Dropdown", variant: "h3", hasUpper: true })
            +dropDown({ text: "Сколько гостей" })
          .form-elements__input
            .form-elements__title-wrap
              +typography({ text: "Masked text field", variant: "h3", hasUpper: true })
            +input({ type: "text", name: "date", classForJs: "js-masked-input", placeholder: "ДД.ММ.ГГГГ" })
          .form-elements__date-inputs
            .form-elements__date-input
              .form-elements__title-wrap
                +typography({ text: "Date Dropdown", variant: "h3", hasUpper: true })
              +dropDown({ text: "ДД.ММ.ГГГГ" })
            .form-elements__date-input
              .form-elements__title-wrap
                +typography({ text: "Date Dropdown", variant: "h3", hasUpper: true })
              +dropDown({ text: "19.08.2019" })
          div(class="form-elements__date-input form-elements__date-input_size_medium form-elements__date-input_with-margin")
            .form-elements__title-wrap
              +typography({ text: "Filter date dropdown", variant: "h3", hasUpper: true })
            +dropDown({ text: "19 авг - 23 авг" })
          div(class="form-elements__input form-elements__input_size_medium")
            .form-elements__title-wrap
              +typography({ text: "Subscription text field", variant: "h3", hasUpper: true })
            +input({ type: "text", name: "date", placeholder: "Email", withButton: true })
        .form-elements__controls
          .form-elements__control
            div(class="form-elements__title-wrap form-elements__title-wrap_bottom-gap")
              +typography({ text: "Checkbox Buttons", variant: "h3", hasUpper: true })
            +checkbox({
              items: [
                { label: "Можно курить" },
                { label: "Можно с питомцами", isChecked: true },
                { label: "Можно пригласить гостей (до 10 человек)", isChecked: true }
              ]
            })
          .form-elements__control
            div(class="form-elements__title-wrap form-elements__title-wrap_bottom-gap")
              +typography({ text: "Radio Buttons", variant: "h3", hasUpper: true })
            +radiobtn({
              items: [
                { groupName: "gender", label: "Мужчина", isChecked: true },
                { groupName: "gender", label: "Женщина" }
              ]
            })
          .form-elements__control
            div(class="form-elements__title-wrap form-elements__title-wrap_bottom-gap")
              +typography({ text: "Toggle", variant: "h3", hasUpper: true })
            .form-elements__toggle
              +toggle({ text: "Получать спецпредложения", isChecked: true })
            +toggle({ text: "Получать спецпредложения" })
          .form-elements__control
            div(class="form-elements__title-wrap form-elements__title-wrap_bottom-gap")
              +typography({ text: "Like Button", variant: "h3", hasUpper: true })
            .form-elements__like-wrap
              .form-elements__like-btn
                +likebtn({ count: 2 })
              +likebtn({ count: 12, isActived: true })
          .form-elements__control
            div(class="form-elements__title-wrap form-elements__title-wrap_bottom-gap")
              +typography({ text: "Rate button", variant: "h3", hasUpper: true })
            .form-elements__rate-btn-wrap
              .form-elements__rate-btn
                +ratebtn({ currentRating: 5, ratingLength: 5 })
              +ratebtn({ currentRating: 4, ratingLength: 5 })  
        .form-elements__buttons
          .form-elements__range-slider-wrap
            +rangeSlider({ title: "Range Slider" })
          .form-elements__button
            div(class="form-elements__title-wrap form-elements__title-wrap_bottom-gap")
              +typography({ text: "Buttons", variant: "h3", hasUpper: true })
            .form-elements__buttons-wrap
              .form-elements__button-wrap
                +button({ title: "Click me", size: "higher" })
              .form-elements__button-wrap  
                +button({ title: "Click me", size: "higher", isDisabled: true })
            .form-elements__buttons-wrap
              .form-elements__button-wrap
                +button({ title: "Click me", size: "medium", variant: "outlined" })
              .form-elements__button-wrap
                +button({ title: "Click me", size: "medium", variant: "outlined", isDisabled: true })
            .form-elements__buttons-wrap
              .form-elements__button-wrap
                +button({ title: "Click me", variant: "text" })
              .form-elements__button-wrap
                +button({ title: "Click me", variant: "text", isDisabled: true })
            .form-elements__submit-btn
              +button({ title: "Перейти к оплате", withIcon: true, buttonType: "submit" })
          .form-elements__button
            div(class="form-elements__title-wrap form-elements__title-wrap_bottom-gap")
              +typography({ text: "Pagination", variant: "h3", hasUpper: true })
            +pagination()  
      .form-elements__row
        .form-elements__row-wrap
          .form-elements__input
            .form-elements__title-wrap
              +typography({ text: "Dropdown", variant: "h3", hasUpper: true })
              p.form-elements__title-alt Default
            +dropDown({ text: "2 спальни, 2 кровати..." })
          div(class="form-elements__input form-elements__input_bottom-gap")
            .form-elements__title-wrap
              +typography({ text: "Dropdown", variant: "h3", hasUpper: true })
              p.form-elements__title-alt Expanded
            +dropDown({ text: "2 спальни, 2 кровати...", classForJs: "js-input-drop-down" })
            div(class="drop-down-container  js-drop-down-container")
          .form-elements__checkbox-list
            +expandableCheckbox({
              summary: 'Expandable checkbox list',
              items: [
                { label: 'Завтрак' },
                { label: 'Письменный стол', isChecked: true },
                { label: 'Стул для кормления', isChecked: true },
                { label: 'Кроватка', isChecked: true },
                { label: 'Телевизор' },
                { label: 'Шампунь' },
              ],
            })
          .form-elements__checkbox-list
            +expandableCheckbox({
              summary: 'Expandable checkbox list',
              isOpened: true,
              items: [
                { label: 'Завтрак' },
                { label: 'Письменный стол', isChecked: true },
                { label: 'Стул для кормления', isChecked: true },
                { label: 'Кроватка', isChecked: true },
                { label: 'Телевизор' },
                { label: 'Шампунь' },
              ],
            })
        .form-elements__row-wrap
          div(class="form-elements__input form-elements__input_bottom-large-gap")
            .form-elements__title-wrap
              +typography({ text: "Dropdown", variant: "h3", hasUpper: true })
            +dropDown({ text: "Сколько гостей", classForJs: "js-input-drop-down-clear" })
            div(class="drop-down-container  js-drop-down-container-clear")
          .form-elements__list
            div(class="form-elements__title-wrap form-elements__title-wrap_bottom-gap")
              +typography({ text: "Rich Checkbox Buttons", variant: "h3", hasUpper: true })
            +checkbox({
              items: [
                { title: "Широкий коридор", label: "Ширина коридоров в номере не менее 91 см." },
                { title: "Помощник для инвалидов", label: "На 1 этаже вас встретит специалист  и проводит до номера."}
              ]
            })
        .form-elements__row-wrap
          div(class="form-elements__input form-elements__input_bottom-large-gap")
            .form-elements__title-wrap
              +typography({ text: "Dropdown", variant: "h3", hasUpper: true })
            +dropDown({ text: "Сколько гостей", classForJs: "js-input-drop-down-filled" })
            div(class="drop-down-container  js-drop-down-container-filled")
          .form-elements__list
            div(class="form-elements__title-wrap form-elements__title-wrap_bottom-gap")
              +typography({ text: "Bullet list", variant: "h3", hasUpper: true })
            +bullet({
              items: [
                { text: "Нельзя с питомцами" },
                { text: "Без вечеринок и мероприятий" },
                { text: "Время прибытия — после 13:00, а выезд до 12:00" }
              ]
            })
      .form-elements__row
        .form-elements__row-wrap
          .form-elements__features
            +features({
              items: [
                {
                  title: "Комфорт",
                  descr: "Шумопоглощающие стены",
                  icon: "emoticon"
                },
                {
                  title: "Удобство",
                  descr: "Окно в каждой из спален",
                  icon: "city"
                }
              ]
            })
        div(class="form-elements__row-wrap form-elements__row-wrap_size_large")
          .form-elements__comment
            +comment({
              authorName: "Мурад Сарафанов",
              datePost: "5 дней назад",
              likeCount: 12,
              likeIsActived: true,
              avatarSrc: "img/avatars/murad.jpg",
              text:
                "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."
            })
        