@import '../../style/utils/variables.scss';
@import '../../components/checkbox/checkbox';
@import '../../components/radiobtn/radiobtn';
@import '../../components/toggle/toggle';
@import '../../components/likebtn/likebtn';
@import '../../components/ratebtn/ratebtn';
@import '../../components/range-slider/range-slider';
@import '../../components/title/title';
@import '../../components/input/input';
@import '../../components/button/button';
@import '../../components/pagination/pagination';
@import '../../components/features/features';
@import '../../components/bullet-list/bullet-list';
@import '../../components/comment/comment';
@import '../../components/drop-down/drop-down.scss';
@import '../../components/logo/logo';
@import '../../../node_modules/nouislider/distribute/nouislider.min.css';

.form-elements__wrap {
  padding-top: 65px;
}

.form-elements__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &:first-child {
    margin-bottom: 100px;
  }

  &:nth-child(2) {
    margin-bottom: 40px;
  }
}

.form-elements__inputs {
  width: 27.6%;
}

.form-elements__input-wrap {
  margin-bottom: 20px;

  &:nth-child(3) {
    margin-bottom: 23px;
  }
}

.form-elements__inputs-column {
  margin-top: 40px;
  margin-bottom: 41px;
  display: flex;
}

.form-elements__input-column-wrap {
  margin-right: 20px;
}

.form-elements__inputs-small {
  width: 266px;
}

.from-elements__input-small-wrap {
  margin-bottom: 41px;
}

.form-elements__controls {
  width: 22.9%;
}

.form-elements__checkbox-wrap {
  margin-bottom: 40.88px;
}

.form-elements__radiobtn-wrap {
  margin-bottom: 42px;
}

.form-elements__toggle-wrap {
  margin-bottom: 46px;
}

.form-elements__likebtn-wrap {
  margin-bottom: 40px;
}

.form-elements__user-button {
  width: 27.7%;
}

.form-elements__range-slider-wrap {
  margin-bottom: 42px;
  width: 82.8%;
}

.form-elements__buttons-wrap {
  margin-bottom: 30px;
  display: flex;
}

.form-elements__button-wrap {
  margin-right: 20px;
}

.form-elements__submit-btn {
  margin-bottom: 41px;
}

.form-elements__drop-down-expand {
  margin-right: 108px;
  width: 23%;
}

.form-elements__drop-down-input-wrap {
  margin-bottom: 20px;
}

.form-elements__drop-down-rich {
  width: 27.6%;
}

.form-elements__drop-down-bullet {
  width: 27.7%;
}

.form-elements__exp-checkbox-close {
  margin-top: 171px;
  margin-bottom: 47px;
}

.form-elements__bunny-hop {
  margin-top: 255px;
}

.form-elements__features {
  width: 24.2%;
}

.form-elements__comment {
  width: 61.3%;
}
