extends ../../layout/ui-kit.pug
include ../../components/input/input
include ../../components/typography/typography
include ../../components/drop-down/drop-down
include ../../components/checkbox/checkbox

block variables
  -
    const title = "Toxin - элементы форм";
    const description = "Toxin description";
    const keywords = "Toxin keywords";
    const pageClass = "form-elements";

block content
  .container
    .form-elements__wrap
      .form-elements__row 
        .form-elements__inputs
          .form-elements__input
            .form-elements__title-wrap
              +typography({ text: "Text Field", variant: "h3", hasUpper: true })
              p.form-elements__title-alt Default
            +input({ type: "text", name: "email", placeholder: "Email" })
          .form-elements__input
            .form-elements__title-wrap
              +typography({ text: "Text Field", variant: "h3", hasUpper: true })
              p.form-elements__title-alt Hover / Focus
            +input({
              type: "text",
              name: "text",
              placeholder: "placeholder",
              value: "This is pretty awesome",
              isFocused: true,
            })
          .form-elements__input
            .form-elements__title-wrap
              +typography({ text: "Dropdown", variant: "h3", hasUpper: true })
            +dropDown({ text: "Сколько гостей" })
          .form-elements__input
            .form-elements__title-wrap
              +typography({ text: "Masked text field", variant: "h3", hasUpper: true })
            +input({ type: "text", name: "date", placeholder: "ДД.ММ.ГГГГ" })
          .form-elements__date-inputs
            .form-elements__date-input
              .form-elements__title-wrap
                +typography({ text: "Date Dropdown", variant: "h3", hasUpper: true })
              +dropDown({ text: "ДД.ММ.ГГГГ" })
            .form-elements__date-input
              .form-elements__title-wrap
                +typography({ text: "Date Dropdown", variant: "h3", hasUpper: true })
              +dropDown({ text: "19.08.2019" })
          div(class="form-elements__date-input form-elements__date-input_size_medium form-elements__date-input_with-margin")
            .form-elements__title-wrap
              +typography({ text: "Filter date dropdown", variant: "h3", hasUpper: true })
            +dropDown({ text: "19 авг - 23 авг" })
          div(class="form-elements__input form-elements__input_size_medium")
            .form-elements__title-wrap
              +typography({ text: "Subscription text field", variant: "h3", hasUpper: true })
            +input({ type: "text", name: "date", placeholder: "Email", withButton: true })
        .form-elements__controls
          .form-elements__control
            .form-elements__title-wrap
                +typography({ text: "Checkbox Buttons", variant: "h3", hasUpper: true })
            +checkbox({
              items: [
                { label: "Можно курить" },
                { label: "Можно с питомцами", isChecked: true },
                { label: "Можно пригласить гостей (до 10 человек)", isChecked: true }
              ]
            })    
