// Size
$desktopWidth: 1160px;
$smDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

// Colors
$mainColor: white;
$accentColor: #bc9cff;
$accentGradColor: #8ba4f9;
$accentSecondСolor: #6fcf97;
$accentGradSecondСolor: #66d2ea;
$contentColor: #1f2041;
