.logo {
  position: relative;
  min-width: 120px;
  min-height: 38px;

  &--big {
    margin-top: 30px;
    margin-left: 30px;
  }
}

.logo__big-pict {
  width: 48px;
  height: 48px;
  background: url('../../components/logo/logo.png') no-repeat;
  background-size: cover
}

.logo__link {
  position: absolute;
  top: -2px;

  &:hover {
    .logo__letter {
      fill: darken($accentColor, 10%);
    }

    .logo__label-left {
      fill: $accentSecondСolor;
    }
  }
}

.logo__letter,
.logo__label-left {
  transition: fill 0.4s ease;
}
