mixin datePicker(options = {})
  section.date-picker
    .date-picker__wrap
      .date-picker__control
        button(type="button" class="date-picker__prev")
        h2.date-picker__title Август 2019
        button(type="button" class="date-picker__next")
      table.date-picker__calendar
        