mixin datePicker(options = {})
  section.date-picker
    .date-picker__wrap
      .date-picker__control
        button(type="button" class="date-picker__prev") Назад
        h2.date-picker__title Август 2019
        button(type="button" class="date-picker__next") Вперед
      table(class="date-picker__calendar" border="1")
        tr
          th.date-picker__th Пн
          th.date-picker__th Вт
          th.date-picker__th Ср
          th.date-picker__th Чт
          th.date-picker__th Пт
          th.date-picker__th Сб
          th.date-picker__th Вс
        - var i = 0
        while i < 5
          tr
          - i++
          - var j = 0
          while j < 7
            td.date-picker__day= j
            - j++
      .date-picker__control
        button(class="date-picker__button" type="button") Очистить
        button(class="date-picker__button  date-picker__button--accent" type="button") Применить
