@font-face {
  font-family: 'Montserrat';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Montserrat-Regular.woff');
  src: url('../fonts/Montserrat-Regular.woff') format('woff'),
    url('../fonts/Montserrat-Regular.ttf') format('truetype'),
    url('../fonts/Montserrat-Regular.font.svg#webfont') format('svg');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/Montserrat-Bold.woff');
  src: url('../fonts/Montserrat-Bold.woff') format('woff'),
    url('../fonts/Montserrat-Bold.ttf') format('truetype'),
    url('../fonts/Montserrat-Bold.font.svg#webfont') format('svg');
}

@font-face {
  font-family: 'Quicksand';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Quicksand-Regular.woff');
  src: url('../fonts/Quicksand-Regular.woff') format('woff'),
    url('../fonts/Quicksand-Regular.ttf') format('truetype'),
    url('../fonts/Quicksand-Regular.font.svg#webfont') format('svg');
}

@font-face {
  font-family: 'Quicksand';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/Quicksand-Bold.woff');
  src: url('../fonts/Quicksand-Bold.woff') format('woff'),
    url('../fonts/Quicksand-Bold.ttf') format('truetype'),
    url('../fonts/Quicksand-Bold.font.svg#webfont') format('svg');
}
