extends layout/main.pug
include components/date-wishes/date-wishes

block variables
  - var title = "Toxin - подбери свой отель!"
  - var description = "Toxin description"
  - var pageClass = "index-page"

block content
  main
    .index-block
      .container
        .index-block__wrap
          section.find-hotel
            +dateWishes()
          .index-block__slogan
            p Лучшие номера для вашей работы, отдыха и просто вдохновения
