.main-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
}

.main-menu__list,
.main-menu__sub-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu__burger-icon {
  position: relative;
  display: none;
  width: 25px;
  height: 16px;
  cursor: pointer;

  span {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 2px;
    vertical-align: top;
    background-color: $contentColor;
    transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;

    &:nth-child(2) {
      top: 7px;
    }

    &:last-child {
      top: 14px;
    }
  }
}

.main-menu__burger-icon--active {
  span {
    &:first-child {
      transform: rotate(45deg) translate(7px, 3px);
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:last-child {
      transform: rotate(-45deg) translate(7px, -3px);
    }
  }
}

.main-menu__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.main-menu__sub-menu {
  position: absolute;
  top: 30px;
  left: 50%;
  padding: 5px 20px;
  text-align: center;
  background-color: $mainColor;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
  transform: translate(-50%, 10px);
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease;
}

.main-menu__item {
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }

  &--sub-menu {
    position: relative;

    &:hover {
      > a {
        color: darken($accentColor, 10%);
        opacity: 1;

        &::after {
          border-right-color: darken($accentColor, 5%);
          border-bottom-color: darken($accentColor, 5%);
          opacity: 1;
        }
      }
    }

    &::after {
      position: absolute;
      bottom: -18px;
      left: 0;
      width: 100%;
      height: 20px;
      background: transparent;
      content: '';
    }

    > a {
      position: relative;
      padding-right: 24px;

      &::after {
        position: absolute;
        top: 50%;
        right: 6px;
        width: 7px;
        height: 7px;
        margin-top: -6px;
        background-color: transparent;
        border-right: 2px solid $contentColor;
        border-bottom: 2px solid $contentColor;

        transform: rotate(45deg);
        opacity: 0.5;
        content: '';
      }

      &:hover {
        &::after {
          border-right-color: darken($accentColor, 5%);
          border-bottom-color: darken($accentColor, 5%);
          opacity: 1;
        }
      }
    }
  }
}

.main-menu__item:hover > .main-menu__sub-menu {
  z-index: 100;
  transform: translate(-50%, 0);
  visibility: visible;
  opacity: 1;
}

.main-menu__sub-item {
  margin-bottom: 10px;
}

.main-menu__item,
.main-menu__sub-item {
  a {
    color: transparentize($contentColor, 0.5);
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    transition: color 0.4s ease;

    &:hover {
      color: darken($accentColor, 10%);
    }
  }
}

@media (max-width: 1024px) {
  .main-menu {
    order: 3;
    margin-left: 0;

    nav {
      position: absolute;
      top: 71px;
      left: 50%;
      width: 100vw;
      overflow: hidden;
      background: $mainColor;
      transform: translate(-50%, -10px);
      opacity: 0;
      transition: all 0.3s ease-in-out;
    }

    &--active {
      nav {
        transform: translate(-50%, 0);
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .main-menu__sub-menu {
    top: 45px;
    transform: translate(0, 0);
  }

  .main-menu__item {
    width: 100%;

    &:last-child {
      margin-right: auto;
    }
  }

  .main-menu__item > a {
    display: inline-block;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    vertical-align: top;
    border-top: 1px solid transparentize($contentColor, 0.75);
  }

  .main-menu__list {
    flex-direction: column;
  }

  .main-menu__burger-icon {
    display: block;
  }

  .main-menu__item--sub-menu {
    &::after {
      display: none;
    }

    > a {
      &::after {
        top: 48.5%;
        right: auto;
        margin-left: 10px;
      }
    }
  }
}
