.main-menu {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.main-menu__list,
.main-menu__sub-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu__list {
  display: flex;
  align-items: center;
}

.main-menu__sub-menu {
  position: absolute;
  top: 30px;
  left: 50%;
  padding: 5px 20px;
  text-align: center;
  background-color: $mainColor;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
  transform: translate(-50%, 10px);
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease;
}

.main-menu__item:hover > .main-menu__sub-menu {
  transform: translate(-50%, 0);
  visibility: visible;
  opacity: 1;
}

.main-menu__sub-item {
  margin-bottom: 10px;
}

.main-menu__item,
.main-menu__sub-item {
  a {
    color: $contentColor;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    opacity: 0.5;
    transition: color 0.4s ease, opacity 0.4s ease;

    &:hover {
      color: darken($accentColor, 10%);
      opacity: 1;
    }
  }
}

.main-menu__item {
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }

  &--sub-menu {
    position: relative;

    &::after {
      position: absolute;
      bottom: -18px;
      left: 0;
      width: 100%;
      height: 20px;
      background: transparent;
      content: '';
    }

    > a {
      position: relative;
      padding-right: 24px;

      &::after {
        position: absolute;
        top: 50%;
        right: 6px;
        width: 7px;
        height: 7px;
        margin-top: -6px;
        background-color: transparent;
        border-right: 2px solid $contentColor;
        border-bottom: 2px solid $contentColor;

        transform: rotate(45deg);
        opacity: 0.5;
        content: '';
      }

      &:hover {
        &::after {
          border-right-color: darken($accentColor, 5%);
          border-bottom-color: darken($accentColor, 5%);
          opacity: 1;
        }
      }
    }
  }
}
