.radiobtn__title {
  margin: 0;
  margin-bottom: 18px;
  font-family: Montserrat, Quicksand, Arial, sans-serif;
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}

.radiobtn__item {
  margin: 0;
  margin-right: 16px;
  display: inline-block;
  vertical-align: top;

  &:last-child {
    margin-right: 0;
  }

  .radiobtn__input[type='radio'] {
    display: none;
  }

  .radiobtn__input[type='radio']:checked {
    + .radiobtn__label {
      color: transparentize($contentColor, .25);

      &::before {
        border-color: $accentColor;
      }

      &::after {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .radiobtn__label {
    position: relative;
    padding-left: 30px;
    display: block;
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
    color: transparentize($contentColor, .55);
    cursor: pointer;

    &::before {
      position: absolute;
      top: -2px;
      left: 0;
      box-sizing: border-box;
      width: 20px;
      height: 20px;
      content: '';
      background-color: transparent;
      border: 1px solid rgba(31, 32, 65, .25);
      border-radius: 50%;
      transition: border .3s ease 0s;
    }

    &::after {
      position: absolute;
      top: 2px;
      left: 4px;
      visibility: hidden;
      width: 12px;
      height: 12px;
      opacity: 0;
      content: '';
      background: linear-gradient(180deg, $accentColor 0%, $accentGradColor 100%);
      border-radius: 50%;
      transition: opacity .3s ease 0s, visibility .3s ease 0s;
    }
  }
}
