extends ../../layout/main.pug
include ../../components/date-wishes/date-wishes

block variables
  -
    const title = "Toxin - главная!"
    const description = "Toxin description"
    const pageClass = "index-page"
  
block content
  .index-block
    .container
      .index-block__wrap
        +dateWishes()
      .index-block__slogan
        p Лучшие номера для вашей работы, отдыха и просто вдохновения
