include ../input/input
include ../button/button
include ../radiobtn/radiobtn
include ../toggle/toggle

mixin registerCard()
  section.register-card
    .register-card__wrap
      h2.register-card__title Регистрация аккаунта
      +input({ id: "name", placeholder: "Имя" })
      +input({ id: "surname", placeholder: "Фамилия" })
      +radiobtn({
          items: [
            { groupName: "gender", id: "male", title: "Мужчина", isChecked: true },
            { groupName: "gender", id: "famale", title: "Женщина" }
          ]
        })
      +input({
        id: "dateInput",
        type: "text",
        placeholder: "ДД.ММ.ГГГГ",
        labelName: "Дата рождения",
        isBigLabel: true
      })
      .register-card__user-data
        +input({
          id: "loginInput",
          type: "text",
          placeholder: "Email",
          labelName: "Данные для входа в сервис",
          isBigLabel: true
        })
        +input({
          id: "passInput",
          type: "password",
          placeholder: "Пароль",
        })
        +toggle({
          items: [
            { id: "notGiveSpec", title: "Получать спецпредложения" }
          ]
        })
      +button({ title: "Перейти к оплате", isHaveIcon: true, buttonType: "button" })