.logo {
  position: relative;
}

.logo__link {
  position: absolute;
  top: -2px;

  &:hover {
    .logo__letter {
      fill: darken($accentColor, 10%);
    }

    .logo__label-left {
      fill: $accentSecondСolor;
    }
  }
}

.logo__letter,
.logo__label-left {
  transition: fill 0.4s ease;
}
