extends ../../layout/ui-kit.pug
include ../../components/header/header
include ../../components/footer/footer

block variables
  -
    const title = "Toxin - шапки и подвалы!";
    const description = "Toxin description";
    const keywords = "Toxin keywords";
    const pageClass = "headers-and-footers";

  -
    const menuItems = [
      { title: "О нас", path: "404.html", isActive: true },
      { 
        title: "Услуги",
        path: "404.html",
        subMenu: [
          { title: "Подбор отелей", path: "404.html" },
          { title: "Заказать трансфер", path: "404.html" },
          { title: "Рейтинг отелей", path: "404.html" }
        ]
      },
      { title: "Вакансии", path: "404.html" },
      { title: "Новости", path: "404.html" },
      {
        title: "Соглашения",
        path: "404.html",
        subMenu: [
          { title: "Пользовательские", path: "404.html" },
          { title: "Международные", path: "404.html" }
        ]
      }
    ];
  
block content
  .headers-and-footers__wrap
    .headers-and-footers__item
      +header({ customMenuItems: menuItems })
    div(class="headers-and-footers__item headers-and-footers__item_authorized")
      +header({ customMenuItems: menuItems, userName: "Юлий Цезарь" })
    .headers-and-footers__item
      +footer()
    div(class="headers-and-footers__item headers-and-footers__item_short")
      +footer({ isShort: true })
