@import '../../style/utils/variables.scss';
@import '../../components/logo/logo';
@import '../../components/header/header';
@import '../../components/main-menu/main-menu';
@import '../../components/button/button';
@import '../../components/footer/footer';
@import '../../components/nav-menu/nav-menu';
@import '../../components/copyright/copyright';
@import '../../components/input/input';
@import '../../components/social-buttons/social-buttons.scss';
@import '../../components/typography/typography.scss';

.headers-and-footers {
  background: #f4f4f6;
}

.headers-and-footers__wrap {
  margin-top: 63px;
}

.headers-and-footers__item {
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }

  &:nth-child(3) {
    margin-bottom: 42px;
  }

  &_short {
    margin: 0 auto;
    width: 53.3%;
  }
}
