@import '../../style/utils/variables.scss';
@import '../../components/header/header.scss';
@import '../../components/button/button.scss';
@import '../../components/main-menu/main-menu.scss';
@import '../../components/date-wishes/date-wishes.scss';
@import '../../components/date-picker/date-picker.scss';
@import '../../components/input/input.scss';
@import '../../components/drop-down/drop-down.scss';
@import '../../components/hotel-card/hotel-card.scss';
@import '../../components/range-slider/range-slider.scss';
@import '../../components/checkbox/checkbox.scss';
@import '../../components/expandable-checkbox/expandable-checkbox.scss';
@import '../../components/rate-btn/rate-btn.scss';
@import '../../components/pagination/pagination.scss';
@import '../../components/footer/footer.scss';
@import '../../components/nav-menu/nav-menu.scss';
@import '../../components/typography/typography.scss';
@import '../../components/social-buttons/social-buttons.scss';
@import '../../components/copyright/copyright.scss';
@import '../../../node_modules/nouislider/distribute/nouislider.min.css';

.rooms-page__border {
  border-bottom: 1px solid rgba(31, 32, 65, .25);
}

.rooms-page__wrap {
  padding: 30px 0 71px;
  display: flex;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 425px) {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.rooms-page__date-picker-container {
  position: relative;
  top: 205px;
}

.filter {
  margin-right: 60px;

  @media (max-width: 768px) {
    margin-right: 0;
    width: 266px;
  }
}

.filter__wrap {
  width: 266px;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.filter__item {
  margin-bottom: 30px;

  &_mbs {
    margin-bottom: 20px;
  }
}

.filter__explan {
  margin: 0;
  margin-top: 14px;
  font-size: 12px;
  line-height: 14px;
  color: transparentize($contentColor, .5);
}

.filter__title-wrap {
  margin-bottom: 5px;

  &_bottom-gap {
    margin-bottom: 16px;
  }
}

.hotels__title-wrap {
  margin-bottom: 21px;
}

.hotels__list {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;

  @media (max-width: 595px) {
    justify-content: center;
  }
}

.hotels__item {
  margin-bottom: 21px;
}

.rooms-page__pagination {
  text-align: center;
}
