extends ../../layout/main.pug
include ../../components/filter/filter
include ../../components/hotels/hotels

block variables
  -
    const title = "Toxin - подбери свой отель!";
    const description = "Toxin description";
    const keywords = "Toxin keywords";
    const pageClass = "rooms-page";

 
block content
  .rooms-page__border
    .container
      .rooms-page__wrap
        +filter()
        +hotels()