.social-buttons__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-buttons__item {
  margin-right: 24px;
  &:last-child {
    margin-right: 0;
  }
}

.social-buttons__link .icon-content {
  transition: fill 0.4s ease;
}

.social-buttons__link:hover .icon-content {
  fill: darken($accentColor, 10%);
}
