.registration-page {
  main {
    background: url("room-interior.jpg") no-repeat;
    background-position: center -70px;
  }
}

.registration-page__wrap {
  display: flex;
  justify-content: center;
  padding: 30px 0 26px;
}
