.rooms-page {
  .pagination {
    text-align: center;
  }
}

.rooms-page__wrap {
  display: flex;
  padding: 30px 0;
}

.filter {
  margin-right: 60px;
}

.filter__wrap {
  width: 266px;
}

.filter__item {
  margin-bottom: 30px;

  &--mbs {
    margin-bottom: 20px;
  }
}

.filter__explan {
  margin: 0;
  margin-top: 26px;
  color: transparentize($contentColor, 0.5);
  font-size: 12px;
  line-height: 14px;
}

.hotels__title {
  margin: 0;
  margin-bottom: 21px;
  font-size: 23px;
  font-weight: bold;
  line-height: 30px;
}

.hotels__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  list-style: none;
}

.hotels__item {
  margin-bottom: 21px;
}
