.ui-kit__wrap {
  padding-top: 62px;
  padding-left: 1px;
}

.ui-kit__box {
  display: flex;
  margin-bottom: 100px;

  &--nm {
    margin-bottom: 0px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.ui-kit__inputs {
  width: 320px;

  .input-group {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.ui-kit__column {
  position: relative;
  width: 265px;
  margin-left: 126px;

  &--mls {
    margin-left: 181px;
  }

  &--wl {
    width: 320px;
  }

  &:first-child {
    margin-left: 0;
  }

  &:nth-child(3) {
    width: 263px;
    margin-left: 127px;
  }

  .input-group {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.ui-kit__column-row {
  margin-bottom: 40px;
  font-size: 0;

  &--large {
    margin-bottom: 55px;
  }

  &--mt-large {
    margin-top: 171px;
    margin-bottom: 46px;
  }

  &--small {
    margin-bottom: 30px;
  }

  .button {
    margin-right: 20px;
    padding: 14px 23px;
    font-weight: bold;
  }

  .button--empty-style {
    padding: 13px 21px;
  }
}

.ui-kit__inputs-column {
  display: flex;
  justify-content: space-between;
  margin-top: 42px;

  .input-group {
    margin-bottom: 0;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  .input-group__button-split {
    width: 66px;
  }
}

.ui-kit__inputs-column--small {
  width: 266px;

  .input-group__button-split {
    width: 55px;
  }
}

.ui-kit__column-row--lwidth {
  width: 320px;

  .button {
    width: 100%;
  }
}

.ui-kit__link {
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
  color: transparentize($contentColor, 0.5);
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.3s ease-in-out;

  &:last-child {
    margin-right: 0;
  }

  &--hover,
  &:hover {
    color: $accentColor;
  }
}

.ui-kit__box #drop-down-container {
  .drop-down {
    top: 345px;
  }
}

.ui-kit__box #drop-down-container2 {
  .drop-down {
    top: 261px;
  }
}

@import "../components/checkbox/checkbox";
@import "../components/radiobtn/radiobtn";
@import "../components/toggle/toggle";
@import "../components/likebtn/likebtn";
@import "../components/ratebtn/ratebtn";
@import "../components/range-slider/range-slider";
@import "../components/title/title";
@import "../components/pagination/pagination";
@import "../components/features/features";
