// Size
$desktopWidth: 1280px;
$smDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

// Colors
$main-color: #ffffff;
$accent-color: #bc9cff;
$accent-second-color: #6fcf97;
$content-color: #1f2041;
