.bullet__title {
  margin: 0;
  margin-bottom: 14px;
  font-family: Montserrat, Quicksand, Arial, sans-serif;
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;

  &_gap_left {
    padding-left: 20px;
  }

  &_size_large {
    margin-bottom: 20px;
    font-size: 18px;
    text-transform: capitalize;
  }
}

.bullet__list {
  padding: 0;
  list-style: none;
}

.bullet__item {
  position: relative;
  margin-bottom: 10px;
  padding-left: 21px;
  font-family: Montserrat, Quicksand, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: transparentize($contentColor, .25);

  &::before {
    position: absolute;
    top: 7px;
    left: 0;
    width: 10px;
    height: 10px;
    content: '';
    background: transparentize($contentColor, .75);
    border-radius: 50%;
  }

  &_tight {
    width: 72%;
  }

  &_petty {
    width: 65%;
  }
}
