mixin bullet(options = {})
  -
    const titleClass = options.isTitleLeftPadding
      ? "bullet__title  bullet__title--lp"
      : "bullet__title";

  .bullet
    if options.title
      p(class=titleClass)= options.title
      ul.bullet__list
        each item in options.items
          li.bullet__item= item.label