mixin bullet(options = {})
  -
    let titleClass = "bullet__title";

    const { titleSize } = options;

    if (titleSize === "large") {
      titleClass += " bullet__title_size_large";
    }

    const { titleGap } = options;

    if (titleGap === "leftGap") {
      titleClass += " bullet__title_gap_left";
    }

    const { title, items } = options;

  .bullet
    if title
      p(class=titleClass)= title
      ul.bullet__list
        each item in items
          -
            let itemClass = "bullet__item";

            if (item.isTight) {
              itemClass += " bullet__item_tight";
            }

            if (item.isPetty) {
              itemClass += " bullet__item_petty";
            }

          li(class=itemClass)= item.label