.typograph__wrap {
  display: grid;
  column-gap: 30px;
  grid-template-columns: 37px 336px;
}

.typograph__label {
  margin: 0;
  font-family: Montserrat, Quicksand, Arial, sans-serif;
  font-size: 24px;
  font-weight: normal;
  text-align: right;
  color: transparentize($contentColor, .75);

  &_h2 {
    font-size: 19px;
  }

  &_h3 {
    font-size: 12px;
    text-align: right;
  }

  &_text {
    font-size: 14px;
    line-height: 20px;
  }
}

.typograph__title {
  margin: 0;
  font-family: Quicksand, Montserrat, Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;

  &_h2 {
    font-size: 19px;
    line-height: 24px;
  }

  &_h3 {
    font-size: 13px;
    line-height: 13px;
    text-transform: uppercase;
  }
}

.typograph__text {
  margin: 0;
  font-family: Montserrat, Quicksand, Arial, sans-serif;
  font-size: 14px;
  line-height: 23px;
  font-weight: normal;
  color: transparentize($contentColor, .25);

  &_tiny {
    padding-right: 30px;
  }
}
