extends ../../layout/ui-kit.pug
include ../../components/color-pallete/color-pallete
include ../../components/typography/typography

block variables
  -
    const title = "Toxin - типографика!";
    const description = "Toxin description";
    const keywords = "Toxin keywords";
    const pageClass = "colors-and-type";

block content
  .container
    .colors-and-type__wrap
      ul.colors-and-type__pallete
        li.colors-and-type__pallete-item
          +colorPallete({
            title: "Dark Shade 100%",
            descr: "#1F2041",
            variant: "dark-shade-100"
          })
        li.colors-and-type__pallete-item
          +colorPallete({
            title: "Dark Shade 75%",
            descr: "#1F2041",
            variant: "dark-shade-75"
          })
        li.colors-and-type__pallete-item
          +colorPallete({
            title: "Dark Shade 50%",
            descr: "#1F2041",
            variant: "dark-shade-50"
          })
        li.colors-and-type__pallete-item
          +colorPallete({
            title: "Dark Shade 25%",
            descr: "#1F2041",
            variant: "dark-shade-25"
          })
        li.colors-and-type__pallete-item
          +colorPallete({
            title: "Dark Shade 5%",
            descr: "#1F2041",
            variant: "dark-shade-5"
          })
        li.colors-and-type__pallete-item
          +colorPallete({
            title: "Purple",
            descr: "#BC9CFF",
            variant: "purple"
          })
        li.colors-and-type__pallete-item
          +colorPallete({
            title: "Green",
            descr: "#6FCF97",
            variant: "green"
          })            
      .colors-and-type__typography
        .colors-and-type__typography-item
          .colors-and-type__typography-label-wrap
            p(class="colors-and-type__typography-label colors-and-type__typography-label_upper colors-and-type__typography-label_size_large") h1
          .colors-and-type__typography-wrap
            +typography({
              text: "This one is the sub-section or widget title",
              variant: "h1",
            })
        .colors-and-type__typography-item
          .colors-and-type__typography-label-wrap
            p(class="colors-and-type__typography-label colors-and-type__typography-label_upper colors-and-type__typography-label_size_medium") h2
          .colors-and-type__typography-wrap
            +typography({
              text: "Next one is the item title inside widgets",
              variant: "h2",
            })
        .colors-and-type__typography-item
          .colors-and-type__typography-label-wrap
            p(class="colors-and-type__typography-label colors-and-type__typography-label_upper colors-and-type__typography-label_size_low") h3
          .colors-and-type__typography-wrap
            +typography({
              text: "This is a label or cta text",
              variant: "h3",
              hasUpper: true
            })
        .colors-and-type__typography-item
          .colors-and-type__typography-label-wrap
            p.colors-and-type__typography-label Body
          .colors-and-type__typography-wrap
            +typography({
              text:
                "This is the body text which is used for most of the design, like paragraphs, lists, etc.",
              variant: "body",
            })
