include ../logo/logo
include ../text-content/text-content
include ../nav-menu/nav-menu
include ../input/input
include ../copyright/copyright
include ../social-buttons/social-buttons

-
  const rusText = {
  logo:
    "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»",
  sub: "Получайте специальные предложения и новости сервиса",
  subTitle: "Подписка"
  };

  const engText = {
    logo:
      "Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.",
    sub: "Receive our latest news and promotions in your inbox!",
    subTitle: "Subscribe to our newsletter"
  };

  const navMenuRusItems = [
    {
      title: "Навигация",
      list: [
        { label: "О нас", path: "#" },
        { label: "Новости", path: "#" },
        { label: "Служба поддержки", path: "#" },
        { label: "Услуги", path: "#" }
      ]
    },
    {
      title: "О нас",
      list: [
        { label: "О сервисе", path: "#" },
        { label: "Наша команда", path: "#" },
        { label: "Вакансии", path: "#" },
        { label: "Инвесторы", path: "#" }
      ]
    },
    {
      title: "Служба поддержки",
      list: [
        { label: "Соглашения", path: "#" },
        { label: "Сообщества", path: "#" },
        { label: "Связь с нами", path: "#" }
      ]
    }
  ];

  const navMenuEngItems = [
    {
      title: "Navigation",
      list: [
        { label: "About us", path: "#" },
        { label: "News", path: "#" },
        { label: "Support", path: "#" },
        { label: "Products", path: "#" }
      ]
    },
    {
      title: "About us",
      list: [
        { label: "Who we are", path: "#" },
        { label: "Our team", path: "#" },
        { label: "Careers", path: "#" },
        { label: "Investors", path: "#" }
      ]
    },
    {
      title: "Support",
      list: [
        { label: "Documentation", path: "#" },
        { label: "Community", path: "#" },
        { label: "Get in Touch", path: "#" }
      ]
    }
  ];

mixin footer(options = {})
  -
    const logoText = options.isEnglish ? engText.logo : rusText.logo;
    const logoId = options.logoId ? options.logoId : "footer-logo";
    const navMenuItems = options.isEnglish ? navMenuEngItems : navMenuRusItems;
    const subTitleText = options.isEnglish ?  engText.subTitle :  rusText.subTitle;
    const subtext = options.isEnglish ?  engText.sub :  rusText.sub;
    const emailInputPlaceholder = options.emailInputPlaceholder
      ? options.emailInputPlaceholder
      : "Email";

    let footerClass = "page-footer";

    if (options.isBorderTop) {
      footerClass += "  page-footer--border-top";
    }

    if (options.isShort) {
      footerClass += "  page-footer--short";
    }

  footer(class=footerClass)
    .container
      if(options.isShort)
        div(class="page-footer__wrap  page-footer__wrap--short")
          +logo({ id: logoId })
          +textContent({ text: logoText })
          +socialButtons()
      else
        .page-footer__wrap
          .page-footer__content
            div(class="page-footer__col  page-footer__col--large")
              +logo({ id: logoId })
              +textContent({ text: logoText })
            .page-footer__col-group
              .page-footer__col
                +navMenu(navMenuItems[0])
              .page-footer__col
                +navMenu(navMenuItems[1])
              .page-footer__col
                +navMenu(navMenuItems[2])
              div(class="page-footer__col  page-footer__col--large")
                +textContent({ title: subTitleText, text: subtext })
                +input({
                  isButtonSplit: true,
                  splitId: "footer-email-split-id",
                  iconSrc: "arrow-forward.svg",
                  type: "email",
                  placeholder: emailInputPlaceholder,
                  isRightSplitAnimation: true
                })
          .page-footer__side-info
            +copyright({ year: 2018, isEnglish: options.isEnglish })
            +socialButtons()
