include ../logo/logo
include ../nav-menu/nav-menu
include ../input/input
include ../copyright/copyright
include ../social-buttons/social-buttons
include ../typography/typography

mixin footer(options = {})
  -
    const navMenuItems = [
      {
        title: "Навигация",
        list: [
          { label: "О нас", path: "not-found-page.html" },
          { label: "Новости", path: "not-found-page.html" },
          { label: "Служба поддержки", path: "not-found-page.html" },
          { label: "Услуги", path: "not-found-page.html" }
        ]
      },
      {
        title: "О нас",
        list: [
          { label: "О сервисе", path: "not-found-page.html" },
          { label: "Наша команда", path: "not-found-page.html" },
          { label: "Вакансии", path: "not-found-page.html" },
          { label: "Инвесторы", path: "not-found-page.html" }
        ]
      },
      {
        title: "Служба поддержки",
        list: [
          { label: "Соглашения", path: "not-found-page.html" },
          { label: "Сообщества", path: "not-found-page.html" },
          { label: "Связь с нами", path: "not-found-page.html" }
        ]
      }
    ];

    const { isShort } = options;

    let footerClass = "page-footer";

    if (isShort) {
      footerClass += "  page-footer_short";
    }

  footer(class=footerClass)
    .container
      if(isShort)
        div(class="page-footer__wrap  page-footer__wrap_short")
          div(class="page-footer__logo-wrap  page-footer__logo-wrap_short")
            +logo({ id: logoId })
          div(class="page-footer__copyright-wrap  page-footer__copyright-wrap_short")  
            +copyright()
          +socialButtons()
      else
        .page-footer__wrap
          .page-footer__content
            div(class="page-footer__col  page-footer__col_large")
              .page-footer__logo-wrap
                +logo({ id: logoId })
              .page-footer__text-content-wrap
                +typography({ variant: "body", text: "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»" })
            .page-footer__col-group
              .page-footer__col
                .page-footer__title-nav-wrap
                  +typography({ variant: "h3", text: "Навигация", hasUpper: true })
                +navMenu(navMenuItems[0])
              .page-footer__col
                .page-footer__title-nav-wrap
                  +typography({ variant: "h3", text: "О нас", hasUpper: true })
                +navMenu(navMenuItems[1])
              .page-footer__col
                .page-footer__title-nav-wrap
                  +typography({ variant: "h3", text: "Служба поддержки", hasUpper: true })
                +navMenu(navMenuItems[2])
              section(class="page-footer__col  page-footer__col_large")
                .page-footer__title-wrap
                  +typography({ variant: "h3", text: "Подписка", hasUpper: true })
                .page-footer__text-content-wrap
                  +typography({ variant: "body", text: "Получайте специальные предложения и новости сервиса" })
                form(action="not-found-page.html")
                  +input({ type: "text", name: "date", placeholder: "Email", withButton: true })
          div(class="page-footer__side-info")
            .page-footer__copyright-wrap
              +copyright()
            +socialButtons()