include ../logo/logo
include ../text-content/text-content
include ../nav-menu/nav-menu
include ../input/input
include ../copyright/copyright
include ../social-buttons/social-buttons

-
  const navMenuItems = [
    {
      title: "Навигация",
      list: [
        { label: "О нас", path: "/404.html" },
        { label: "Новости", path: "/404.html" },
        { label: "Служба поддержки", path: "/404.html" },
        { label: "Услуги", path: "/404.html" }
      ]
    },
    {
      title: "О нас",
      list: [
        { label: "О сервисе", path: "/404.html" },
        { label: "Наша команда", path: "/404.html" },
        { label: "Вакансии", path: "/404.html" },
        { label: "Инвесторы", path: "/404.html" }
      ]
    },
    {
      title: "Служба поддержки",
      list: [
        { label: "Соглашения", path: "/404.html" },
        { label: "Сообщества", path: "/404.html" },
        { label: "Связь с нами", path: "/404.html" }
      ]
    }
  ];

mixin footer(options = {})
  -
    const logoId = options.logoId ? options.logoId : "footer-logo";
    const emailInputPlaceholder = options.emailInputPlaceholder
      ? options.emailInputPlaceholder
      : "Email";

    let footerClass = "page-footer";

    if (options.isBorderTop) {
      footerClass += "  page-footer_with-border-top";
    }

    if (options.isShort) {
      footerClass += "  page-footer_short";
    }

    if (options.isTightBottom) {
      footerClass += "  page-footer_tight-bottom";
    }

    let sideInfoClass = options.isTightBottom
      ? "page-footer__side-info  page-footer__side-info_tight-bottom"
      : "page-footer__side-info";


  footer(class=footerClass)
    .container
      if(options.isShort)
        div(class="page-footer__wrap  page-footer__wrap_short")
          +logo({ id: logoId })
          +copyright({ year: 2018 })
          +socialButtons()
      else
        .page-footer__wrap
          .page-footer__content
            div(class="page-footer__col  page-footer__col_large")
              +logo({ id: logoId })
              +textContent({ text: "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»" })
            .page-footer__col-group
              .page-footer__col
                +navMenu(navMenuItems[0])
              .page-footer__col
                +navMenu(navMenuItems[1])
              .page-footer__col
                +navMenu(navMenuItems[2])
              div(class="page-footer__col  page-footer__col_large")
                .page-footer__text-content-wrap
                  +textContent({ title: "Подписка", text: "Получайте специальные предложения и новости сервиса" })
                form(action="/404.html")
                  +input({
                    isButtonSplit: true,
                    splitId: "footer-email-split-id",
                    splitButtonType: "submit",
                    iconSrc: "arrow-forward.svg",
                    type: "email",
                    placeholder: emailInputPlaceholder,
                    isRightSplitAnimation: true
                  })
          div(class=sideInfoClass)
            +copyright({ year: 2018 })
            +socialButtons()
