.date-wishes {
  width: 380px;
  background: $mainColor;
  border-radius: 4px;
  box-shadow: 0 0 25px rgba(0, 0, 0, .2);

  .date-wishes__fieldset {
    margin: 0;
    margin-bottom: 32px;
    padding: 0;
    border: 0;
  }

  .input-group__label {
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: $contentColor;
  }

  @media (max-width: 380px) {
    margin: 0 auto;
    width: 100%;
    min-width: 320px;
  }

  @media (max-width: 768px) {
    margin: 0 auto;
  }
}

.date-wishes__wrap {
  padding: 40px 30px 30px;
}

.date-wishes__group {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;

  .input-group__input {
    &_double-button {
      width: 106px;

      @media (max-width: 380px) {
        width: 100%;
      }
    }
  }

  .date-picker-container {
    position: absolute;
    top: 269px;
    left: 0;

    @media (max-width: 380px) {
      top: 348px;
    }
  }

  @media (max-width: 380px) {
    flex-direction: column;
  }
}

.date-wishes__group .input-group {
  @media (max-width: 380px) {
    margin-bottom: 15px;
  }
}

.date-wishes__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: $contentColor;
}
