.date-wishes {
  width: 380px;
  background: $mainColor;
  border-radius: 4px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);

  fieldset {
    margin: 0;
    padding: 0;
    border: 0;
  }

  .input-group__label {
    color: $contentColor;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
  }

  .button {
    width: 100%;
    margin-top: 31px;
    padding: 15px 20px;
    padding-top: 14px;
    font-weight: normal;
  }

  .button--icon {
    z-index: 0;
  }
}

.date-wishes__wrap {
  padding: 40px 30px 30px;
}

.date-wishes__group {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  .input-group__input {
    &--button-split {
      width: 106px;
    }
  }

  .date-picker-container {
    position: absolute;
    top: 269px;
    left: 50%;
  }
}

.drop-down-container {
  position: relative;
}

.date-wishes__title {
  margin: 0;
  margin-bottom: 20px;
  color: $contentColor;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

@media (max-width: 380px) {
  .date-wishes {
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
  }

  .date-wishes__group {
    .input-group {
      margin-right: 20px;

      &:nth-child(2) {
        margin-right: 0;
      }
    }

    .input-group__input--button-split {
      width: 100%;
    }

    .input-group__button-split {
      width: 28%;
    }
  }
}


@media (max-width: 768px) {
  .date-wishes {
    margin: 0 auto;
  }
}
