.social-buttons {
  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
  }

  &__item {
    margin-right: 24px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    &:hover {
      .social-buttons__icon {
        fill: darken($accentColor, 10%);
      }
    }

    .social-buttons__icon {
      transition: fill .4s ease;
    }
  }
}
