include ../../components/logo/logo
include ../../components/header/header
include ../../components/footer/footer

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title "Toxin - шапки и подвалы!"
  body(class="headers-and-footers")
    +logo({ isBig: true })
    .headers-and-footers__wrap
      .headers-and-footers__item
        +header({ isEnglish: true })
      .headers-and-footers__item
        +header({ isEnglish: true, userName: "Cosmin Negoita" })
      .headers-and-footers__item
        +footer({ isEnglish: true, emailInputPlaceholder: "Your email address" })
      .headers-and-footers__item
        +footer({ isEnglish: true, isShort: true })
