@import "../../style/utils/variables.scss";
@import "../../components/logo/logo";
@import "../../components/header/header";
@import "../../components/main-menu/main-menu";
@import "../../components/button/button";
@import "../../components/footer/footer";
@import "../../components/nav-menu/nav-menu";
@import "../../components/copyright/copyright";
@import "../../components/input/input";
@import "../../components/social-buttons/social-buttons.scss";
@import "../../components/text-content/text-content.scss";

.headers-and-footers {
  background: #f4f4f6;

  .page-header__wrap {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .main-menu__item {
    margin-right: 27px;
  }

  .button--empty-style {
    padding: 7px 18px;
  }

  .page-header__auth {
    margin-left: 0;
  }

  .page-header__auth .button:nth-child(2) {
    padding: 9px 19px;
  }

  .page-footer::after {
    bottom: 70px;
  }

  .page-footer__side-info {
    padding-bottom: 21px;
  }
}

.headers-and-footers__wrap {
  margin-top: 70px;
}

.headers-and-footers__item {
  margin-bottom: 42px;

  &:last-child {
    margin-bottom: 0;
  }
}

.headers-and-footers__item--diff-header {
  .page-header__auth--is-auth {
    padding-left: 31px;
  }
}

@media (max-width: 380px) {
  .headers-and-footers__item--diff-header .page-header__auth--is-auth {
    padding-left: 0px;
  }
}

@media (max-width: 555px) {
  .headers-and-footers .page-footer::after {
    bottom: 110px;
  }
}

@media (max-width: 768px) {
  .page-footer--short section.text-content {
    width: 70%;
  }
}

@media (max-width: 1024px) {
  .headers-and-footers .page-header__auth {
    margin-left: auto;
  }
}

@media (width: 1440px) {
  .headers-and-footers__item--diff-header {
    .main-menu {
      margin-left: 336px;
      margin-right: 4px;
    }
  }

  .page-footer__col-group .page-footer__col:first-child {
    margin-right: 118px;
  }

  .page-footer__col:nth-child(2) {
    margin-right: 117px;
  }
}
