@import '../../style/utils/variables.scss';
@import '../../components/logo/logo';
@import '../../components/header/header';
@import '../../components/main-menu/main-menu';
@import '../../components/button/button';
@import '../../components/footer/footer';
@import '../../components/nav-menu/nav-menu';
@import '../../components/copyright/copyright';
@import '../../components/input/input';
@import '../../components/social-buttons/social-buttons.scss';
@import '../../components/text-content/text-content.scss';

.headers-and-footers {
  background: #f4f4f6;

  .page-header__wrap {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .main-menu__item {
    margin-right: 27px;
  }

  .button--empty-style {
    padding: 7px 18px;
  }

  .page-header__auth {
    margin-left: 0;

    @media (max-width: 1024px) {
      margin-left: auto;
    }
  }

  .page-header__auth .button:nth-child(2) {
    padding: 9px 19px;
  }

  .page-footer {
    &::after {
      bottom: 70px;

      @media (max-width: 555px) {
        bottom: 110px;
      }
    }
  }

  .page-footer--short {
    section.text-content {
      @media (max-width: 768px) {
        width: 70%;
      }
    }
  }

  .page-footer__side-info {
    padding-bottom: 21px;
  }
}

.headers-and-footers__wrap {
  margin-top: 70px;
}

.headers-and-footers__item {
  margin-bottom: 42px;

  &:last-child {
    margin-bottom: 0;
  }

  &--diff-header {
    .main-menu {
      @media (width: 1440px) {
        margin-left: 336px;
        margin-right: 4px;
      }
    }

    .page-header__auth--is-auth {
      @media (max-width: 380px) {
        padding-left: 0px;
      }
    }
  }
}

.page-footer__col-group {
  .page-footer__col {
    &:first-child {
      @media (width: 1440px) {
        margin-right: 118px;
      }
    }
  }
}

.page-footer__col {
  &:nth-child(2) {
    @media (width: 1440px) {
      margin-right: 117px;
    }
  }
}

.headers-and-footers__item--diff-header {
  .page-header__auth--is-auth {
    padding-left: 31px;
  }
}
