mixin dropDown({ text, classForJs })
  -
    let dropDownBodyClass = "drop-down-input__body";

    if (classForJs) {
      dropDownBodyClass += ` ${classForJs}`
    }

  .drop-down-input
    .drop-down-input__wrap
      div(class=dropDownBodyClass)= text
      button(class="drop-down-input__button", type="button")
