mixin copyright(options)
  if options.isEnglish
    p.copyright= `Copyright © ${options.year} Toxin UI Kit. All rights reserved.`
  else
    p.copyright= `Copyright © ${options.year} Toxin отель. Все права зачищены. `