mixin likebtn(options = {})
  .likebtn
    if options.title
      p.likebtn__title= options.title
    each item in options.items
      -
        const itemBtn = item.isLike
          ? "likebtn__item  likebtn__item_active"
          : "likebtn__item";
      p(class=itemBtn)
        button(class="likebtn__btn" type="button")= item.count