mixin likebtn({ count, isActive })
  -
    let likeBtnClass = "likebtn__button";

    if (isActive) {
      likeBtnClass += " likebtn__button_active";
    }

  .likebtn
    .likebtn__wrap
      button(class=likeBtnClass type="button")= count
