extends ../../layout/main.pug
block variables
  -
    const title = "Toxin - страница не найдена!";
    const description = "page not found";
    const keywords = "Toxin keywords";
    const pageClass = "not-found-page";
    const footerBorderTop = true;
block content
  section.not-found
    .container
      .not-found__wrap
        h1.not-found__title Ой!
        p.not-found__description Похоже, мы не можем найти нужную вам страницу.
        p.not-found__status Код ошибки: 404
        ul.not-found__help-links
          li(class="not-found__help-item") Вот несолько полезных ссылок:
          li(class="not-found__help-item")
            a(class="not-found__link" href="index.html") Главная
          li(class="not-found__help-item")
            a(class="not-found__link" href="rooms.html") Поиск отелей
          li(class="not-found__help-item")
            a(class="not-found__link" href="registration.html") Регистрация
          li(class="not-found__help-item")
            a(class="not-found__link" href="auth.html") Авторизация