include ../ratebtn/ratebtn

mixin hotelCard(options = {})
  - var sliderBtnClass = options.isBtnSliderHide ? "hotel-card__slider-control  hotel-card__slider-control--hide" : "hotel-card__slider-control"
  section.hotel-card
    .hotel-card__wrap
      .hotel-card__slider
        .hotel-card__slider-pict
          each item in options.images 
            img(src=item.src, alt=item.alt)
        .hotel-card__slider-pict-buttons
          button(class="slider-btn-active" type="button")
          button(type="button")
          button(type="button")
          button(type="button")
        div(class=sliderBtnClass)
          button(class="hotel-card__slider-btn" type="button") Назад
          button(class="hotel-card__slider-btn  hotel-card__slider-btn--next" type="button") Вперед
      .hotel-card__info
        .hotel-card__info-item
          if (options.isLux)
            h2.hotel-card__title 
              a(href="/room-details.html") № #[span= options.numberHotel] #[b люкс]
          else 
            h2.hotel-card__title
              a(href="/room-details.html") № #[span= options.numberHotel]
          p.hotel-card__text #[b= options.dayCost + '₽'] в сутки
        .hotel-card__info-item
          +ratebtn({ items: [{ idGroup: options.idRateBtn, currentRating: options.starCount }] })
          p(class="hotel-card__text  hotel-card__text--fzlarge") #[b= options.reviewCount] Отзывов