extends ../layout/main.pug
include ../components/auth-card/auth-card

block variables
  - var title = "Toxin - авторизация!"
  - var description = "Toxin authorization"
  - var pageClass = "auth-page"
  
block content
  .container
    .auth-page__wrap
      +authCard()