extends ../layout/ui-kit.pug
include ../components/date-wishes/date-wishes
include ../components/total-card/total-card
include ../components/date-picker/date-picker
block variables
  - var title = "Карточки"
  - var pageClass = "cards-page"

block content
  .container
    .cards-page__wrap
      .cards-page__item
        +dateWishes()
      .cards-page__item
        +totalCard()
      .cards-page__item
        .card-page__stub-card
          +datePicker()