extends ../layout/main.pug
include ../components/register-card/register-card

block variables
  - var title = "Toxin - регистрация!"
  - var description = "Toxin registration"
  - var pageClass = "registration-page"
  
block content
  .container
    .registration-page__wrap
      +registerCard()