extends ../layout/main.pug

block variables
  - var title = "Toxin - подбери свой отель!"
  - var description = "Toxin description"
  - var pageClass = "rooms-page"
  
block content
  h1 Страница с комнатами