mixin toggle(options = {})
  .toggle
    if options.title
      p.toggle__title= options.title
    each item in options.items
      p.toggle__item
        input(class="toggle__input" id=item.id type="checkbox" checked=item.isChecked)
        label(class="toggle__label" for=item.id)= item.title