mixin likeBtn({ count, isActive })
  -
    let likeBtnClass = "like-btn__button";

    if (isActive) {
      likeBtnClass += " like-btn__button_active";
    }

  .like-btn
    .like-btn__wrap
      button(class=likeBtnClass type="button")= count
