extends ../../layout/ui-kit.pug
include ../../components/date-wishes/date-wishes

block variables
  -
    const title = "Toxin - карточки";
    const description = "Toxin description";
    const keywords = "Toxin keywords";
    const pageClass = "cards-page";

block content
  .container
    .cards-page__wrap
      .cards-page__row
        .cards-page__item
          +dateWishes()
