@import '../../style/utils/variables.scss';
@import '../../components/typography/typography.scss';
@import '../../components/button/button.scss';
@import '../../components/input/input.scss';
@import '../../components/drop-down-input/drop-down-input.scss';
@import '../../components/toggle/toggle.scss';
@import '../../components/radio-btn/radio-btn.scss';
@import '../../components/date-wishes/date-wishes.scss';
@import '../../components/register-card/register-card.scss';
@import '../../components/total-card/total-card.scss';
@import '../../components/auth-card/auth-card.scss';
@import '../../components/date-picker/date-picker.scss';
@import '../../components/hotel-card/hotel-card.scss';
@import '../../components/rate-btn/rate-btn.scss';

.cards-page {
  background: #f4f4f6;

  &__wrap {
    padding: 70px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    margin-bottom: 40px;
  }

  &__item-hotel-wrap {
    margin-bottom: 40px;
  }
}

.card-page {
  &__stub-card {
    width: 320px;
    background: $mainColor;
    border-radius: 4px;
    box-shadow: 0 0 25px rgba(0, 0, 0, .2);
  }
}
