include ../typography/typography
include ../hotel-card/hotel-card
include ../pagination/pagination

mixin hotelRooms(hotels)
  -
    const pages = [
      { title: "1", path: "not-found-page.html", isActive: true },
      { title: "2", path: "not-found-page.html" },
      { title: "3", path: "not-found-page.html" },
      { title: "...", path: "not-found-page.html" },
      { title: "15", path: "not-found-page.html" },
      { title: "Далее", path: "not-found-page.html", isNext: true },
    ];

  section.hotels
    .hotels__wrap
      .hotels__title-wrap
        +typography({ variant: "h1", text: "Номера, которые мы для вас подобрали" })
      ul.hotels__list
        each item in hotels
          li.hotels__item
            +hotelCard(item)
      .hotels__pagination      
        +pagination(pages)