@import "../../style/utils/variables.scss";
@import "../../components/logo/logo";
@import "../../components/color-pallete/color-pallete.scss";
@import "../../components/typograph/typograph.scss";

.colors-and-type__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 65px;
}

.colors-and-type__pallete {
  margin: 0;
  padding: 0;
  padding-left: 10px;
  list-style: none;

  li {
    margin-bottom: 20px;
  }
}

.colors-and-type__typograph {
  margin: 0;
  padding: 0;
  padding-right: 51px;
  list-style: none;

  li {
    margin-bottom: 50px;

    &:last-child {
      .typograph__text {
        padding-right: 30px;
      }
    }
  }
}

@media(max-width: 425px) {
  .colors-and-type__wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media(max-width: 860px) {
  .colors-and-type__wrap {
    flex-direction: column;
  }

  .colors-and-type__pallete {
    margin-bottom: 60px;
  }
}
