@import '../../style/utils/variables.scss';
@import '../../components/logo/logo';
@import '../../components/color-pallete/color-pallete.scss';
@import '../../components/typograph/typograph.scss';

.colors-and-type__wrap {
  padding-top: 67px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: 860px) {
    flex-direction: column;
  }

  @media (max-width: 425px) {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.colors-and-type__pallete {
  margin: 0;
  padding: 0;
  padding-left: 10px;
  list-style: none;

  @media (max-width: 860px) {
    margin-bottom: 60px;
  }
}

.colors-and-type__pallete-li {
  margin-bottom: 20px;
}

.colors-and-type__typograph {
  margin: 0;
  padding: 0;
  padding-right: 51px;
  list-style: none;
}

.colors-and-type__typograph-li {
  margin-bottom: 50px;

  &:last-child {
    .typograph__text {
      padding-right: 30px;
    }
  }
}
