@import "../../style/utils/variables.scss";
@import "../../components/logo/logo";
@import "../../components/color-pallete/color-pallete.scss";
@import "../../components/typograph/typograph.scss";

.colors-and-type__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 65px;
}

.colors-and-type__pallete {
  margin: 0;
  padding: 0;
  padding-left: 10px;
  list-style: none;

  li {
    margin-bottom: 20px;
  }
}

.colors-and-type__typograph {
  width: 34.7%;
  margin: 0;
  padding: 0;
  padding-right: 51px;
  list-style: none;

  li {
    margin-bottom: 50px;

    &:last-child {
      .typograph__text {
        padding-right: 30px;
      }
    }
  }
}
