include ../input/input
include ../button/button

section.date-wishes
  .date-wishes__wrap
    form(action="")
      fieldset
        legend.date-wishes__title Найдём номера под ваши пожелания
        .date-wishes__group
          +input({ labelName: 'Прибытие', isHaveIcon: true, placeholder: 'ДД.ММ.ГГГГ' })
          +input({ labelName: 'Выезд', isHaveIcon: true, placeholder: 'ДД.ММ.ГГГГ' })
        +input({ labelName: 'Гости', isHaveIcon: true, placeholder: 'Сколько гостей' })
        +button({ title: 'Подобрать номер', isHaveIcon: true, buttonType: 'submit' })
