include ../input/input
include ../button/button

section.date-wishes
  .date-wishes__wrap
    form(action="")
      fieldset
        legend.date-wishes__title Найдём номера под ваши пожелания
        .date-wishes__group
          +input({ labelName: 'Прибытие', isButtonSplit: true, iconSrc: 'expand_more.svg', placeholder: 'ДД.ММ.ГГГГ' })
          +input({ labelName: 'Выезд', isButtonSplit: true, iconSrc: 'expand_more.svg', placeholder: 'ДД.ММ.ГГГГ' })
          div(id="date-picker-container" class="date-picker-container")
        +input({ labelName: 'Гости', isButtonSplit: true, iconSrc: 'expand_more.svg', placeholder: 'Сколько гостей' })
        +button({ title: 'Подобрать номер', isHaveIcon: true, buttonType: 'submit' })
