include ../input/input
include ../button/button

section.date-wishes
  .date-wishes__wrap
    form(action="")
      fieldset
        legend.date-wishes__title Найдём номера под ваши пожелания
        .date-wishes__group
          +input({ labelName: 'Прибытие', placeholder: 'ДД.ММ.ГГГГ' })
          +input({ labelName: 'Выезд', placeholder: 'ДД.ММ.ГГГГ' })
        +input({ labelName: 'Гости', placeholder: 'Сколько гостей' })
        +button({ title: 'Подобрать номер', buttonType: 'submit' })
