mixin rateBtn({ currentRating, ratingLength })
  .rate-btn
    .rate-btn__wrap
      - for (let i = 0; i < ratingLength; ++i) {
        -
          const isActive = i < currentRating;
          let starClass = "rate-btn__star";

          if (isActive) {
            starClass += " rate-btn__star_active"
          }
        
        div(class=starClass)
      - }
