.input-group {
  display: flex;

  &--column {
    flex-direction: column;

    label {
      margin-bottom: 5px;
    }
  }

  &:hover,
  &:focus {
    .input-group__input {
      border-color: transparentize($contentColor, 0.25);
    }

    .input-group__button-split {
      border-color: transparentize($contentColor, 0.25);
    }
  }
}

.input-group__split {
  display: flex;
  margin: 0;
}

.input-group__input {
  box-sizing: border-box;
  width: 100%;
  padding: 9px 15px;
  color: transparentize($contentColor, 0.25);
  font-size: 14px;
  font-family: $fontFamily;
  line-height: 24px;
  border: 1px solid transparentize($contentColor, 0.75);
  border-radius: 4px;
  outline: none;
  transition: border 0.4s ease;

  &--button-split {
    position: relative;
    width: 216px;
    padding-right: 0;
    border-right: none;
    border-radius: 4px 0 0 4px;
  }

  &::placeholder {
    color: transparentize($contentColor, 0.75);
  }

  &:hover,
  &:focus {
    border-color: transparentize($contentColor, 0.25);

    + .input-group__button-split {
      border-color: transparentize($contentColor, 0.25);
    }
  }
}

.input-group__button-split {
  box-sizing: border-box;
  width: 44px;
  background-color: transparent;
  background-image: url('arrow_forward.svg');
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid transparentize($contentColor, 0.75);
  border-left: none;
  border-radius: 0 4px 4px 0;
  outline: none;
  cursor: pointer;
  transition: border 0.4s ease, background 0.2s ease;

  &:active {
    background-position: 20px center;
  }
}
